In [1]:
import time
from IPython.display import Image
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import StandardScaler # 표준화(평균을 기준)
from sklearn.preprocessing import MinMaxScaler # 정규화(정해진 규칙 기준, mix-max기준)
from sklearn.datasets import load_iris
# cross_val_score: 다양한 샘플링으 ㄹ해서 여러번 테스트 --> 평균치를 구해본다.!
from sklearn.metrics import *
%matplotlib inline

# 주요 라이브러리 import

from matplotlib import rc, font_manager
import matplotlib.font_manager as fm


# 디렉토리 및 파일 이름에 맞추어 변경
font_location = '../../NanumGothic.ttf'
font_name = fm.FontProperties(fname=font_location).get_name()
rc('font', family=font_name)
import scipy.io as spio

In [2]:
import pyreadstat
df, meta = pyreadstat.read_sav('2020 국내여행/(원자료) 2020년 국민여행조사_국내여행.sav')

In [3]:
##2020 년도에 여행한 사람만 추출하기 전 확인
df.iloc[50:100,1:15][df['D_TRA1_SYEAR']!=2020.0]

,SA1_1,SA1_2,SA1_3,SA1_4,SA1_5,SA1_6,D_TRA1_CHECK,D_TRA1_CASE,D_TRA1_SYEAR,D_TRA1_SMONTH,D_TRA1_SDAY,D_TRA1_EYEAR,D_TRA1_EMONTH,D_TRA1_EDAY
50,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df['D_TRA1_SYEAR'].value_counts()

2020.0    19414
Name: D_TRA1_SYEAR, dtype: int64

In [5]:
df['D_TRA1_SYEAR'].isna().sum()

31296

In [6]:
##2020 년도에 여행한 사람만 추출
df = df[df['D_TRA1_SYEAR']==2020.0] 
df.reset_index(inplace=True)
df

,index,ID,SA1_1,SA1_2,SA1_3,SA1_4,SA1_5,SA1_6,D_TRA1_CHECK,D_TRA1_CASE,...,국내_여행방문지_기타당일1,국내_여행방문지_기타당일2,국내_여행방문지_기타당일3,국내_여행방문지_기타당일4,국내_여행방문지_기타당일5,국내_여행방문지_기타당일6,국내_여행방문지_기타당일7,국내_여행방문지_기타당일8,국내_여행방문지_기타당일9,국내_여행방문지_기타당일10
0,2,11010530201_17,0.0,1.0,0.0,0.0,0.0,0.0,Y,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,11010530201_2,0.0,0.0,1.0,0.0,0.0,0.0,,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,11010530201_3,0.0,0.0,1.0,0.0,0.0,1.0,,3.0,...,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,11010530201_35,0.0,0.0,1.0,0.0,0.0,0.0,,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8,11010530201_8,0.0,0.0,1.0,0.0,0.0,0.0,,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19409,50622,39020590071_172926,0.0,0.0,0.0,1.0,0.0,0.0,Y,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19410,50631,39020590321_202105,1.0,0.0,0.0,0.0,0.0,0.0,Y,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19411,50645,3902059058A_344813,1.0,0.0,0.0,0.0,0.0,0.0,Y,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19412,50674,39020600711_345258,0.0,0.0,1.0,0.0,0.0,0.0,,3.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19413,50697,39020610771_345418,0.0,0.0,1.0,0.0,0.0,0.0,,3.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df['국내_A_여행횟수_국내전체'].value_counts()

1.0    17932
2.0     1359
3.0      100
4.0       21
5.0        2
Name: 국내_A_여행횟수_국내전체, dtype: int64

In [8]:
df[df['D_TRA1_2_SYEAR']==2021.0]['D_TRA1_4_SYEAR']

1102    NaN
1118    NaN
1318    NaN
2082    NaN
2124    NaN
2129    NaN
3337    NaN
3338    NaN
3455    NaN
4780    NaN
5491    NaN
7341    NaN
7342    NaN
7343    NaN
7780    NaN
8737    NaN
13263   NaN
13370   NaN
13374   NaN
14154   NaN
14700   NaN
16213   NaN
16217   NaN
16839   NaN
16841   NaN
16989   NaN
Name: D_TRA1_4_SYEAR, dtype: float64

In [9]:
df[['SA1_1', 'SA1_2', 'SA1_3', 'SA1_4', 'SA1_5']].value_counts()

SA1_1  SA1_2  SA1_3  SA1_4  SA1_5
1.0    0.0    0.0    0.0    0.0      10169
0.0    1.0    0.0    0.0    0.0       3586
       0.0    1.0    0.0    0.0       2925
              0.0    0.0    1.0        754
1.0    0.0    1.0    0.0    0.0        531
0.0    0.0    0.0    1.0    0.0        498
2.0    0.0    0.0    0.0    0.0        190
1.0    0.0    0.0    0.0    1.0        125
0.0    0.0    2.0    0.0    0.0        100
1.0    1.0    0.0    0.0    0.0         81
0.0    1.0    1.0    0.0    0.0         64
       0.0    0.0    0.0    2.0         55
              1.0    0.0    1.0         54
       2.0    0.0    0.0    0.0         42
       1.0    0.0    0.0    1.0         33
1.0    0.0    0.0    1.0    0.0         32
0.0    0.0    1.0    1.0    0.0         18
1.0    0.0    0.0    0.0    2.0         17
0.0    0.0    0.0    2.0    0.0         16
3.0    0.0    0.0    0.0    0.0         16
2.0    0.0    1.0    0.0    0.0         13
0.0    1.0    0.0    1.0    0.0         11
1.0    0.0    2.0    0.0    0.0          9
              1.0    0.0    1.0          8
0.0    0.0    0.0    1.0    1.0          7
              3.0    0.0    0.0          7
4.0    0.0    0.0    0.0    0.0          6
0.0    0.0    0.0    0.0    3.0          5
2.0    0.0    0.0    0.0    1.0          5
                            2.0          3
0.0    3.0    0.0    0.0    0.0          3
       0.0    0.0    0.0    4.0          3
1.0    0.0    1.0    1.0    0.0          2
2.0    1.0    0.0    0.0    0.0          2
       0.0    2.0    0.0    0.0          2
0.0    0.0    2.0    0.0    1.0          2
              4.0    0.0    0.0          2
       1.0    2.0    0.0    0.0          2
              0.0    0.0    2.0          2
       0.0    0.0    3.0    0.0          2
3.0    0.0    1.0    0.0    0.0          1
2.0    0.0    0.0    1.0    0.0          1
0.0    5.0    0.0    0.0    0.0          1
1.0    2.0    1.0    0.0    0.0          1
       1.0    1.0    0.0    0.0          1
       0.0    1.0    0.0    2.0          1
              0.0    2.0    1.0          1
                            0.0          1
0.0    1.0    0.0    2.0    0.0          1
       0.0    2.0    0.0    2.0          1
              1.0    0.0    2.0          1
5.0    0.0    0.0    0.0    0.0          1
dtype: int64

In [10]:
col=df.columns

In [11]:
df['국내_여행여부'].value_counts()

1.0    15505
3.0     3909
Name: 국내_여행여부, dtype: int64

In [12]:
df['A5_13'].value_counts()

13.0    385
Name: A5_13, dtype: int64

In [13]:
## 필요컬럼
columns_list = [
 'SA1_1',
 'SA1_2',
 'SA1_3',
 'SA1_4',
 'SA1_5',
 'D_TRA1_S_Day',
 'D_TRA1_COST',
 'D_TRA1_NUM',
 'D_TRA1_ONE_COST',
 'D_TRA1_VAC',
 'D_TRA1_SYEAR',
 'D_TRA1_1_SMONTH',
 'D_TRA1_1_SPOT',
 'D_TRA1_1_Q6_Ar',
 'D_TRA1_1_Q6',
 'D_TRA1_2_SYEAR',
 'D_TRA1_2_SMONTH',
 'D_TRA1_2_SPOT',
 'D_TRA1_2_Q6_Ar',
 'D_TRA1_2_Q6',
 'D_TRA1_3_SYEAR',
 'D_TRA1_3_SMONTH',
 'D_TRA1_3_SPOT',
 'D_TRA1_3_Q6_Ar',
 'D_TRA1_3_Q6',
 'D_TRA1_4_SYEAR',
 'D_TRA1_4_SMONTH',
 'D_TRA1_4_SPOT',
 'D_TRA1_4_Q6_Ar',
 'D_TRA1_4_Q6',
 'D_TRA1_5_SYEAR',
 'D_TRA1_5_SMONTH',
 'D_TRA1_5_SPOT',
 'D_TRA1_5_Q6_Ar',
 'D_TRA1_5_Q6',
 'D_TRA1_6_SYEAR',
 'D_TRA1_6_SMONTH',
 'D_TRA1_6_SPOT',
 'D_TRA1_6_Q6_Ar',
 'D_TRA1_6_Q6',
 'D_TRA1_7_SYEAR',
 'D_TRA1_7_SMONTH',
 'D_TRA1_7_SPOT',
 'D_TRA1_7_Q6_Ar',
 'D_TRA1_7_Q6',
 'D_TRA1_8_SYEAR',
 'D_TRA1_8_SMONTH',
 'D_TRA1_8_SPOT',
 'D_TRA1_8_Q6_Ar',
 'D_TRA1_8_Q6',
 'D_TRA1_9_SYEAR',
 'D_TRA1_9_SMONTH',
 'D_TRA1_9_SPOT',
 'D_TRA1_9_Q6_Ar',
 'D_TRA1_9_Q6',
 'D_TRA1_10_SYEAR',
 'D_TRA1_10_SMONTH',
 'D_TRA1_10_SPOT',
 'D_TRA1_10_Q6_Ar',
 'D_TRA1_10_Q6',
 'D_TRA2_S_Day',
 'D_TRA2_COST',
 'D_TRA2_NUM',
 'D_TRA2_ONE_COST',
 'D_TRA2_VAC',
 'D_TRA2_SYEAR',
 'D_TRA2_1_SMONTH',
 'D_TRA2_1_SPOT',
 'D_TRA2_1_Q6_Ar',
 'D_TRA2_1_Q6',
 'D_TRA2_2_SYEAR',
 'D_TRA2_2_SMONTH',
 'D_TRA2_2_SPOT',
 'D_TRA2_2_Q6_Ar',
 'D_TRA2_2_Q6',
 'D_TRA2_3_SYEAR',
 'D_TRA2_3_SMONTH',
 'D_TRA2_3_SPOT',
 'D_TRA2_3_Q6_Ar',
 'D_TRA2_3_Q6',
 'D_TRA2_4_SYEAR',
 'D_TRA2_4_SMONTH',
 'D_TRA2_4_SPOT',
 'D_TRA2_4_Q6_Ar',
 'D_TRA2_4_Q6',
 'D_TRA2_5_SYEAR',
 'D_TRA2_5_SMONTH',
 'D_TRA2_5_SPOT',
 'D_TRA2_5_Q6_Ar',
 'D_TRA2_5_Q6',
 'D_TRA2_6_SYEAR',
 'D_TRA2_6_SMONTH',
 'D_TRA2_6_SPOT',
 'D_TRA2_6_Q6_Ar',
 'D_TRA2_6_Q6',
 'D_TRA2_7_SYEAR',
 'D_TRA2_7_SMONTH',
 'D_TRA2_7_SPOT',
 'D_TRA2_7_Q6_Ar',
 'D_TRA2_7_Q6',
 'D_TRA2_8_SYEAR',
 'D_TRA2_8_SMONTH',
 'D_TRA2_8_SPOT',
 'D_TRA2_8_Q6_Ar',
 'D_TRA2_8_Q6',
 'D_TRA2_9_SYEAR',
 'D_TRA2_9_SMONTH',
 'D_TRA2_9_SPOT',
 'D_TRA2_9_Q6_Ar',
 'D_TRA2_9_Q6',
 'D_TRA2_10_SYEAR',
 'D_TRA2_10_SMONTH',
 'D_TRA2_10_SPOT',
 'D_TRA2_10_Q6_Ar',
 'D_TRA2_10_Q6',
 'D_TRA3_S_Day',
 'D_TRA3_COST',
 'D_TRA3_NUM',
 'D_TRA3_ONE_COST',
 'D_TRA3_VAC',
 'D_TRA3_SYEAR',
 'D_TRA3_1_SMONTH',
 'D_TRA3_1_SPOT',
 'D_TRA3_1_Q6_Ar',
 'D_TRA3_1_Q6',
 'D_TRA3_2_SYEAR',
 'D_TRA3_2_SMONTH',
 'D_TRA3_2_SPOT',
 'D_TRA3_2_Q6_Ar',
 'D_TRA3_2_Q6',
 'D_TRA3_3_SYEAR',
 'D_TRA3_3_SMONTH',
 'D_TRA3_3_SPOT',
 'D_TRA3_3_Q6_Ar',
 'D_TRA3_3_Q6',
 'D_TRA3_4_SYEAR',
 'D_TRA3_4_SMONTH',
 'D_TRA3_4_SPOT',
 'D_TRA3_4_Q6_Ar',
 'D_TRA3_4_Q6',
 'D_TRA3_5_SYEAR',
 'D_TRA3_5_SMONTH',
 'D_TRA3_5_SPOT',
 'D_TRA3_5_Q6_Ar',
 'D_TRA3_5_Q6',
 'D_TRA3_6_SYEAR',
 'D_TRA3_6_SMONTH',
 'D_TRA3_6_SPOT',
 'D_TRA3_6_Q6_Ar',
 'D_TRA3_6_Q6',
 'D_TRA3_7_SYEAR',
 'D_TRA3_7_SMONTH',
 'D_TRA3_7_SPOT',
 'D_TRA3_7_Q6_Ar',
 'D_TRA3_7_Q6',
 'D_TRA3_8_SYEAR',
 'D_TRA3_8_SMONTH',
 'D_TRA3_8_SPOT',
 'D_TRA3_8_Q6_Ar',
 'D_TRA3_8_Q6',
 'D_TRA3_9_SYEAR',
 'D_TRA3_9_SMONTH',
 'D_TRA3_9_SPOT',
 'D_TRA3_9_Q6_Ar',
 'D_TRA3_9_Q6',
 'D_TRA3_10_SYEAR',
 'D_TRA3_10_SMONTH',
 'D_TRA3_10_SPOT',
 'D_TRA3_10_Q6_Ar',
 'D_TRA3_10_Q6',
 'D_TRA4_S_Day',
 'D_TRA4_COST',
 'D_TRA4_NUM',
 'D_TRA4_ONE_COST',
 'D_TRA4_VAC',
 'D_TRA4_SYEAR',
 'D_TRA4_1_SMONTH',
 'D_TRA4_1_SPOT',
 'D_TRA4_1_Q6_Ar',
 'D_TRA4_1_Q6',
 'D_TRA4_2_SYEAR',
 'D_TRA4_2_SMONTH',
 'D_TRA4_2_SPOT',
 'D_TRA4_2_Q6_Ar',
 'D_TRA4_2_Q6',
 'D_TRA4_3_SYEAR',
 'D_TRA4_3_SMONTH',
 'D_TRA4_3_SPOT',
 'D_TRA4_3_Q6_Ar',
 'D_TRA4_3_Q6',
 'D_TRA4_4_SYEAR',
 'D_TRA4_4_SMONTH',
 'D_TRA4_4_SPOT',
 'D_TRA4_4_Q6_Ar',
 'D_TRA4_4_Q6',
 'D_TRA4_5_SYEAR',
 'D_TRA4_5_SMONTH',
 'D_TRA4_5_SPOT',
 'D_TRA4_5_Q6_Ar',
 'D_TRA4_5_Q6',
 'D_TRA4_6_SYEAR',
 'D_TRA4_6_SMONTH',
 'D_TRA4_6_SPOT',
 'D_TRA4_6_Q6_Ar',
 'D_TRA4_6_Q6',
 'D_TRA4_7_SYEAR',
 'D_TRA4_7_SMONTH',
 'D_TRA4_7_SPOT',
 'D_TRA4_7_Q6_Ar',
 'D_TRA4_7_Q6',
 'D_TRA4_8_SYEAR',
 'D_TRA4_8_SMONTH',
 'D_TRA4_8_SPOT',
 'D_TRA4_8_Q6_Ar',
 'D_TRA4_8_Q6',
 'D_TRA4_9_SYEAR',
 'D_TRA4_9_SMONTH',
 'D_TRA4_9_SPOT',
 'D_TRA4_9_Q6_Ar',
 'D_TRA4_9_Q6',
 'D_TRA4_10_SYEAR',
 'D_TRA4_10_SMONTH',
 'D_TRA4_10_SPOT',
 'D_TRA4_10_Q6_Ar',
 'D_TRA4_10_Q6',
 'D_TRA5_S_Day',
 'D_TRA5_COST',
 'D_TRA5_NUM',
 'D_TRA5_ONE_COST',
 'D_TRA5_VAC',
 'D_TRA5_SYEAR',
 'D_TRA5_1_SMONTH',
 'D_TRA5_1_SPOT',
 'D_TRA5_1_Q6_Ar',
 'D_TRA5_1_Q6',
 'D_TRA5_2_SYEAR',
 'D_TRA5_2_SMONTH',
 'D_TRA5_2_SPOT',
 'D_TRA5_2_Q6_Ar',
 'D_TRA5_2_Q6',
 'D_TRA5_3_SYEAR',
 'D_TRA5_3_SMONTH',
 'D_TRA5_3_SPOT',
 'D_TRA5_3_Q6_Ar',
 'D_TRA5_3_Q6',
 'D_TRA5_4_SYEAR',
 'D_TRA5_4_SMONTH',
 'D_TRA5_4_SPOT',
 'D_TRA5_4_Q6_Ar',
 'D_TRA5_4_Q6',
 'D_TRA5_5_SYEAR',
 'D_TRA5_5_SMONTH',
 'D_TRA5_5_SPOT',
 'D_TRA5_5_Q6_Ar',
 'D_TRA5_5_Q6',
 'D_TRA5_6_SYEAR',
 'D_TRA5_6_SMONTH',
 'D_TRA5_6_SPOT',
 'D_TRA5_6_Q6_Ar',
 'D_TRA5_6_Q6',
 'D_TRA5_7_SYEAR',
 'D_TRA5_7_SMONTH',
 'D_TRA5_7_SPOT',
 'D_TRA5_7_Q6_Ar',
 'D_TRA5_7_Q6',
 'D_TRA5_8_SYEAR',
 'D_TRA5_8_SMONTH',
 'D_TRA5_8_SPOT',
 'D_TRA5_8_Q6_Ar',
 'D_TRA5_8_Q6',
 'D_TRA5_9_SYEAR',
 'D_TRA5_9_SMONTH',
 'D_TRA5_9_SPOT',
 'D_TRA5_9_Q6_Ar',
 'D_TRA5_9_Q6',
 'D_TRA5_10_SYEAR',
 'D_TRA5_10_SMONTH',
 'D_TRA5_10_SPOT',
 'D_TRA5_10_Q6_Ar',
 'D_TRA5_10_Q6',
 'D_TRA6_S_Day',
 'D_TRA6_COST',
 'D_TRA6_NUM',
 'D_TRA6_ONE_COST',
 'D_TRA6_VAC',
 'D_TRA6_SYEAR',
 'D_TRA6_1_SMONTH',
 'D_TRA6_1_SPOT',
 'D_TRA6_1_Q6_Ar',
 'D_TRA6_1_Q6',
 'D_TRA6_2_SYEAR',
 'D_TRA6_2_SMONTH',
 'D_TRA6_2_SPOT',
 'D_TRA6_2_Q6_Ar',
 'D_TRA6_2_Q6',
 'D_TRA6_3_SYEAR',
 'D_TRA6_3_SMONTH',
 'D_TRA6_3_SPOT',
 'D_TRA6_3_Q6_Ar',
 'D_TRA6_3_Q6',
 'D_TRA6_4_SYEAR',
 'D_TRA6_4_SMONTH',
 'D_TRA6_4_SPOT',
 'D_TRA6_4_Q6_Ar',
 'D_TRA6_4_Q6',
 'D_TRA6_5_SYEAR',
 'D_TRA6_5_SMONTH',
 'D_TRA6_5_SPOT',
 'D_TRA6_5_Q6_Ar',
 'D_TRA6_5_Q6',
 'D_TRA6_6_SYEAR',
 'D_TRA6_6_SMONTH',
 'D_TRA6_6_SPOT',
 'D_TRA6_6_Q6_Ar',
 'D_TRA6_6_Q6',
 'D_TRA6_7_SYEAR',
 'D_TRA6_7_SMONTH',
 'D_TRA6_7_SPOT',
 'D_TRA6_7_Q6_Ar',
 'D_TRA6_7_Q6',
 'D_TRA6_8_SYEAR',
 'D_TRA6_8_SMONTH',
 'D_TRA6_8_SPOT',
 'D_TRA6_8_Q6_Ar',
 'D_TRA6_8_Q6',
 'D_TRA6_9_SYEAR',
 'D_TRA6_9_SMONTH',
 'D_TRA6_9_SPOT',
 'D_TRA6_9_Q6_Ar',
 'D_TRA6_9_Q6',
 'D_TRA6_10_SYEAR',
 'D_TRA6_10_SMONTH',
 'D_TRA6_10_SPOT',
 'D_TRA6_10_Q6_Ar',
 'D_TRA6_10_Q6',
 'D_TRA7_S_Day',
 'D_TRA7_COST',
 'D_TRA7_NUM',
 'D_TRA7_ONE_COST',
 'D_TRA7_VAC',
 'D_TRA7_SYEAR',
 'D_TRA7_1_SMONTH',
 'D_TRA7_1_SPOT',
 'D_TRA7_1_Q6_Ar',
 'D_TRA7_1_Q6',
 'D_TRA7_2_SYEAR',
 'D_TRA7_2_SMONTH',
 'D_TRA7_2_SPOT',
 'D_TRA7_2_Q6_Ar',
 'D_TRA7_2_Q6',
 'D_TRA7_3_SYEAR',
 'D_TRA7_3_SMONTH',
 'D_TRA7_3_SPOT',
 'D_TRA7_3_Q6_Ar',
 'D_TRA7_3_Q6',
 'D_TRA7_4_SYEAR',
 'D_TRA7_4_SMONTH',
 'D_TRA7_4_SPOT',
 'D_TRA7_4_Q6_Ar',
 'D_TRA7_4_Q6',
 'D_TRA7_5_SYEAR',
 'D_TRA7_5_SMONTH',
 'D_TRA7_5_SPOT',
 'D_TRA7_5_Q6_Ar',
 'D_TRA7_5_Q6',
 'D_TRA7_6_SYEAR',
 'D_TRA7_6_SMONTH',
 'D_TRA7_6_SPOT',
 'D_TRA7_6_Q6_Ar',
 'D_TRA7_6_Q6',
 'D_TRA7_7_SYEAR',
 'D_TRA7_7_SMONTH',
 'D_TRA7_7_SPOT',
 'D_TRA7_7_Q6_Ar',
 'D_TRA7_7_Q6',
 'D_TRA7_8_SYEAR',
 'D_TRA7_8_SMONTH',
 'D_TRA7_8_SPOT',
 'D_TRA7_8_Q6_Ar',
 'D_TRA7_8_Q6',
 'D_TRA7_9_SYEAR',
 'D_TRA7_9_SMONTH',
 'D_TRA7_9_SPOT',
 'D_TRA7_9_Q6_Ar',
 'D_TRA7_9_Q6',
 'D_TRA7_10_SYEAR',
 'D_TRA7_10_SMONTH',
 'D_TRA7_10_SPOT',
 'D_TRA7_10_Q6_Ar',
 'D_TRA7_10_Q6',
 'D_TRA8_S_Day',
 'D_TRA8_COST',
 'D_TRA8_NUM',
 'D_TRA8_ONE_COST',
 'D_TRA8_VAC',
 'D_TRA8_SYEAR',
 'D_TRA8_1_SMONTH',
 'D_TRA8_1_SPOT',
 'D_TRA8_1_Q6_Ar',
 'D_TRA8_1_Q6',
 'D_TRA8_2_SYEAR',
 'D_TRA8_2_SMONTH',
 'D_TRA8_2_SPOT',
 'D_TRA8_2_Q6_Ar',
 'D_TRA8_2_Q6',
 'D_TRA8_3_SYEAR',
 'D_TRA8_3_SMONTH',
 'D_TRA8_3_SPOT',
 'D_TRA8_3_Q6_Ar',
 'D_TRA8_3_Q6',
 'D_TRA8_4_SYEAR',
 'D_TRA8_4_SMONTH',
 'D_TRA8_4_SPOT',
 'D_TRA8_4_Q6_Ar',
 'D_TRA8_4_Q6',
 'D_TRA8_5_SYEAR',
 'D_TRA8_5_SMONTH',
 'D_TRA8_5_SPOT',
 'D_TRA8_5_Q6_Ar',
 'D_TRA8_5_Q6',
 'D_TRA8_6_SYEAR',
 'D_TRA8_6_SMONTH',
 'D_TRA8_6_SPOT',
 'D_TRA8_6_Q6_Ar',
 'D_TRA8_6_Q6',
 'D_TRA8_7_SYEAR',
 'D_TRA8_7_SMONTH',
 'D_TRA8_7_SPOT',
 'D_TRA8_7_Q6_Ar',
 'D_TRA8_7_Q6',
 'D_TRA8_8_SYEAR',
 'D_TRA8_8_SMONTH',
 'D_TRA8_8_SPOT',
 'D_TRA8_8_Q6_Ar',
 'D_TRA8_8_Q6',
 'D_TRA8_9_SYEAR',
 'D_TRA8_9_SMONTH',
 'D_TRA8_9_SPOT',
 'D_TRA8_9_Q6_Ar',
 'D_TRA8_9_Q6',
 'D_TRA8_10_SYEAR',
 'D_TRA8_10_SMONTH',
 'D_TRA8_10_SPOT',
 'D_TRA8_10_Q6_Ar',
 'D_TRA8_10_Q6',
 'A1_1',
 'A1_2',
 'A1_3',
 'A2',
 'A4_1',
 'A4_2',
 'A4_3',
 'A5_1',
 'A5_2',
 'A5_3',
 'A5_4',
 'A5_5',
 'A5_6',
 'A5_7',
 'A5_8',
 'A5_9',
 'A5_10',
 'A5_11',
 'A5_12',
 'A5_13',
 'A5_14',
 'A5_15',
 'A5_16',
 'A5_17',
 'A5_18',
 'A5_19',
 'A5_20',
 'A5_21',
 'A7',
 'A7A',
 'A7B_1',
 'A7B_2',
 'A7B_3',
 'A7B_4',
 'A7B_5',
 'A7B_6',
 'A7B_7',
 'A8_1',
 'PA8_1',
 'NA8_1',
 'A8_TOTAL',
 'PA8_TOTAL',
 'NA8_TOTAL',
 'A9A',
 'PA9A',
 'NA9A',
 'A9B',
 'PA9B',
 'NA9B',
 'A9C',
 'PA9C',
 'NA9C',
 'A9D',
 'PA9D',
 'NA9D',
 'A9E',
 'PA9E',
 'NA9E',
 'A9F',
 'PA9F',
 'NA9F',
 'A9G',
 'PA9G',
 'NA9G',
 'A9H',
 'PA9H',
 'NA9H',
 'A9I',
 'PA9I',
 'NA9I',
 'NA9',
 'A11',
 'A11A_1',
 'A11A_2',
 'A11A_3',
 'A11A_4',
 'A11A_5',
 'A11A_6',
 'A11A_7',
 'A11A_8',
 'A11A_9',
 'A11A_10',
 'A11A_11',
 'A11A_12',
 'A12',
 'A13',
 'DQ7',
 'BSEX',
 'BAGE',
 'SAGE',
 'BMON',
 'BARA',
 '국내_여행여부',
 '국내_숙박여부']

In [14]:
df = df[columns_list]

In [15]:
df.loc[:,'A5_1':]

,A5_1,A5_2,A5_3,A5_4,A5_5,A5_6,A5_7,A5_8,A5_9,A5_10,...,A12,A13,DQ7,BSEX,BAGE,SAGE,BMON,BARA,국내_여행여부,국내_숙박여부
0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,4.0,1.0,2.0,1.0,17.0,1.0,1.0,1.0,1.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,1.0,4.0,48.0,1.0,1.0,3.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,2.0,3.0,36.0,1.0,1.0,3.0,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,1.0,5.0,54.0,1.0,1.0,3.0,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,2.0,4.0,42.0,1.0,1.0,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19409,1.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,3.0,1.0,1.0,7.0,77.0,6.0,17.0,1.0,1.0
19410,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,...,4.0,4.0,1.0,1.0,3.0,35.0,7.0,17.0,1.0,1.0
19411,1.0,2.0,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,...,4.0,4.0,1.0,2.0,5.0,56.0,11.0,17.0,1.0,1.0
19412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,1.0,4.0,40.0,10.0,17.0,3.0,NaN
19413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,1.0,6.0,68.0,11.0,17.0,3.0,NaN

In [16]:
len(columns_list)

539

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19414 entries, 0 to 19413
Columns: 539 entries, SA1_1 to 국내_숙박여부
dtypes: float64(539)
memory usage: 79.8 MB

In [18]:
target_rawcol = []
for i in range(1,22):
    target_rawcol.append("A5_"+str(i))
target_rawcol

['A5_1',
 'A5_2',
 'A5_3',
 'A5_4',
 'A5_5',
 'A5_6',
 'A5_7',
 'A5_8',
 'A5_9',
 'A5_10',
 'A5_11',
 'A5_12',
 'A5_13',
 'A5_14',
 'A5_15',
 'A5_16',
 'A5_17',
 'A5_18',
 'A5_19',
 'A5_20',
 'A5_21']

In [19]:
# Target값 전처리

# Q5. 다녀오신 여행에서 참여하신 활동은 무엇입니까? 해당되는 항목은 모두 선택해 주십시오.
# column명: A5_1 ~ A5_21
# 전처리 전:
# 자연 및 풍경감상
# 음식관광(지역 맛집 등)
# 야외 위락 및 스포츠, 레포츠 활동
# 역사 유적지 방문
# 테마파크, 놀이시설, 동/식물원 방문
# 휴식/휴양
# 온천/스파
# 쇼핑
# 지역 문화예술/공연/전시시설 관람
# 스포츠 경기관람
# 지역 축제/이벤트참가
# 교육/체험 프로그램 참가
# 종교/성지순례
# 카지노, 경마, 경륜 등
# 시티투터
# 드라마 촬영지 방문
# 유흥/오락
# 가족/친지/친구 방문
# 회의참가/시찰
# 교육/훈련/연수
# 기타

# 전처리 후:
# 1.자연 및 풍경감상
# 2.음식관광(지역 맛집 등)
# 3.야외 위락 및 스포츠, 레포츠 활동
# 4.역사 유적지 방문                                  + 16. 드라마 촬영지 방문
# 5.테마파크, 놀이시설, 동/식물원 방문
# 6.휴식/휴양                                            + 7. 온천/스파
# 8.쇼핑                                                   + 15. 시티투어
# 9.지역 문화예술/공연/전시시설 관람         + 10.스포츠 경기관람, 11.지역 축제/이벤트참가 +12. 교육/체험 프로그램 참가
# 17.유흥/오락                                           +14.카지노, 경마, 경륜 등
# 21.기타

# 기타 추가 컬럼
# 13.종교/성지순례
# 18.가족/친지/친구 방문
# 19.회의참가/시찰
# 20.교육/훈련/연수

In [20]:
## target 21컬럼을 10개로 변경
target_list = []
for n in df.index:
    for i, rawcol in enumerate(target_rawcol):
        i+=1 ## A5_1부터 시작
        if df.loc[n, rawcol]==i:
            target_list.append(i)
len(target_list)

41184

In [21]:
df.shape

(19414, 539)

In [22]:
df[target_rawcol].head()

,A5_1,A5_2,A5_3,A5_4,A5_5,A5_6,A5_7,A5_8,A5_9,A5_10,...,A5_12,A5_13,A5_14,A5_15,A5_16,A5_17,A5_18,A5_19,A5_20,A5_21
0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df.to_csv('2020_전처리중확인_drop.csv')

In [24]:
df[target_rawcol]

,A5_1,A5_2,A5_3,A5_4,A5_5,A5_6,A5_7,A5_8,A5_9,A5_10,...,A5_12,A5_13,A5_14,A5_15,A5_16,A5_17,A5_18,A5_19,A5_20,A5_21
0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19409,1.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,18.0,19.0,NaN,NaN
19410,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN
19411,1.0,2.0,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df['A5_1'].value_counts()

1.0    12098
Name: A5_1, dtype: int64

In [26]:
df['D_TRA2_S_Day'].value_counts()

0.0    907
1.0    417
2.0    127
3.0     20
4.0      3
Name: D_TRA2_S_Day, dtype: int64

In [27]:
df['D_TRA3_S_Day'].value_counts()

0.0    85
1.0    30
2.0     6
3.0     6
4.0     2
Name: D_TRA3_S_Day, dtype: int64

In [28]:
df['D_TRA4_S_Day'].value_counts()

0.0    20
1.0     4
2.0     1
Name: D_TRA4_S_Day, dtype: int64

In [29]:
df['D_TRA5_S_Day'].value_counts()

0.0    2
Name: D_TRA5_S_Day, dtype: int64

In [30]:
df['D_TRA6_S_Day'].value_counts()

Series([], Name: D_TRA6_S_Day, dtype: int64)

In [31]:
df['D_TRA7_S_Day'].value_counts()

Series([], Name: D_TRA7_S_Day, dtype: int64)

In [32]:
## 여행6 이사은 값이 없으므로 6이상의 컬럼들 삭제

for i in range (6, 9):
    df.drop(columns=['D_TRA'+str(i)+'_S_Day', 'D_TRA'+str(i)+'_COST', 'D_TRA'+str(i)+'_NUM', 'D_TRA'+str(i)+'_ONE_COST', 
                     'D_TRA'+str(i)+'_VAC', 'D_TRA'+str(i)+'_SYEAR', 'D_TRA'+str(i)+'_1_SMONTH', 'D_TRA'+str(i)+'_1_SPOT', 
                     'D_TRA'+str(i)+'_1_Q6_Ar',  'D_TRA'+str(i)+'_1_Q6'], inplace=True)

In [33]:
df

,SA1_1,SA1_2,SA1_3,SA1_4,SA1_5,D_TRA1_S_Day,D_TRA1_COST,D_TRA1_NUM,D_TRA1_ONE_COST,D_TRA1_VAC,...,A12,A13,DQ7,BSEX,BAGE,SAGE,BMON,BARA,국내_여행여부,국내_숙박여부
0,0.0,1.0,0.0,0.0,0.0,2.0,100000.0,1.0,100000.0,NaN,...,4.0,4.0,1.0,2.0,1.0,17.0,1.0,1.0,1.0,1.0
1,0.0,0.0,1.0,0.0,0.0,1.0,80000.0,1.0,80000.0,NaN,...,NaN,NaN,1.0,1.0,4.0,48.0,1.0,1.0,3.0,NaN
2,0.0,0.0,1.0,0.0,0.0,0.0,50000.0,1.0,50000.0,NaN,...,NaN,NaN,2.0,2.0,3.0,36.0,1.0,1.0,3.0,NaN
3,0.0,0.0,1.0,0.0,0.0,2.0,100000.0,1.0,100000.0,NaN,...,NaN,NaN,1.0,1.0,5.0,54.0,1.0,1.0,3.0,NaN
4,0.0,0.0,1.0,0.0,0.0,1.0,300000.0,4.0,75000.0,NaN,...,NaN,NaN,1.0,2.0,4.0,42.0,1.0,1.0,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19409,0.0,0.0,0.0,1.0,0.0,4.0,200000.0,1.0,200000.0,NaN,...,3.0,3.0,1.0,1.0,7.0,77.0,6.0,17.0,1.0,1.0
19410,1.0,0.0,0.0,0.0,0.0,1.0,130000.0,3.0,43333.0,1.0,...,4.0,4.0,1.0,1.0,3.0,35.0,7.0,17.0,1.0,1.0
19411,1.0,0.0,0.0,0.0,0.0,1.0,70000.0,1.0,70000.0,NaN,...,4.0,4.0,1.0,2.0,5.0,56.0,11.0,17.0,1.0,1.0
19412,0.0,0.0,1.0,0.0,0.0,0.0,30000.0,4.0,7500.0,NaN,...,NaN,NaN,1.0,1.0,4.0,40.0,10.0,17.0,3.0,NaN
19413,0.0,0.0,1.0,0.0,0.0,0.0,30000.0,1.0,30000.0,NaN,...,NaN,NaN,1.0,1.0,6.0,68.0,11.0,17.0,3.0,NaN

In [78]:
for i in target_rawcol:
    print(df[i].value_counts())

1.0    12098
Name: A5_1, dtype: int64
2.0    8434
Name: A5_2, dtype: int64
3.0    897
Name: A5_3, dtype: int64
4.0    1404
Name: A5_4, dtype: int64
5.0    868
Name: A5_5, dtype: int64
6.0    9141
Name: A5_6, dtype: int64
7.0    366
Name: A5_7, dtype: int64
8.0    1319
Name: A5_8, dtype: int64
9.0    509
Name: A5_9, dtype: int64
10.0    11
Name: A5_10, dtype: int64
11.0    236
Name: A5_11, dtype: int64
12.0    223
Name: A5_12, dtype: int64
13.0    385
Name: A5_13, dtype: int64
14.0    12
Name: A5_14, dtype: int64
15.0    950
Name: A5_15, dtype: int64
16.0    647
Name: A5_16, dtype: int64
17.0    411
Name: A5_17, dtype: int64
18.0    2755
Name: A5_18, dtype: int64
19.0    244
Name: A5_19, dtype: int64
20.0    185
Name: A5_20, dtype: int64
21.0    89
Name: A5_21, dtype: int64

In [58]:
df[i].value_counts().sum

Index(['SA1_1', 'SA1_2', 'SA1_3', 'SA1_4'], dtype='object')

In [35]:
df['D_TRA1_SYEAR']

0        2020.0
1        2020.0
2        2020.0
3        2020.0
4        2020.0
          ...
19409    2020.0
19410    2020.0
19411    2020.0
19412    2020.0
19413    2020.0
Name: D_TRA1_SYEAR, Length: 19414, dtype: float64

In [139]:
count=0
for index in df.index:
        if df.loc[index, target_rawcol].isnull().sum() >= 18:
            count+=1
count

17046

18

In [89]:
df.loc[0,'A5_3']

nan

In [140]:
df.loc[0, target_rawcol]

A5_1      1.0
A5_2      2.0
A5_3      NaN
A5_4      NaN
A5_5      NaN
A5_6      NaN
A5_7      NaN
A5_8      NaN
A5_9      NaN
A5_10     NaN
A5_11     NaN
A5_12     NaN
A5_13     NaN
A5_14     NaN
A5_15     NaN
A5_16     NaN
A5_17     NaN
A5_18    18.0
A5_19     NaN
A5_20     NaN
A5_21     NaN
Name: 0, dtype: float64