In [7]:
import time
from IPython.display import Image
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import StandardScaler # 표준화(평균을 기준)
from sklearn.preprocessing import MinMaxScaler # 정규화(정해진 규칙 기준, mix-max기준)
from sklearn.datasets import load_iris
# cross_val_score: 다양한 샘플링으 ㄹ해서 여러번 테스트 --> 평균치를 구해본다.!
from sklearn.metrics import *
%matplotlib inline

# 주요 라이브러리 import

from matplotlib import rc, font_manager
import matplotlib.font_manager as fm


# 디렉토리 및 파일 이름에 맞추어 변경
font_location = '../NanumGothic.ttf'
font_name = fm.FontProperties(fname=font_location).get_name()
rc('font', family=font_name)
import scipy.io as spio

In [26]:
import pyreadstat
df, meta = pyreadstat.read_sav('/Users/syshin/Downloads/2020 국내/(원자료) 2020년 국민여행조사_국내여행.sav')

In [51]:
df.iloc[50:100,1:15][df['D_TRA1_SYEAR']!=2020.0]

,SA1_1,SA1_2,SA1_3,SA1_4,SA1_5,SA1_6,D_TRA1_CHECK,D_TRA1_CASE,D_TRA1_SYEAR,D_TRA1_SMONTH,D_TRA1_SDAY,D_TRA1_EYEAR,D_TRA1_EMONTH,D_TRA1_EDAY
50,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df['D_TRA1_SYEAR'].value_counts()

2020.0    19414
Name: D_TRA1_SYEAR, dtype: int64

In [29]:
df['D_TRA1_SYEAR'].isna().sum()

31296

In [52]:
##2020 년도에 여행한 사람만 추출
df = df[df['D_TRA1_SYEAR']==2020.0] 
df.reset_index(inplace=True)
df

,index,ID,SA1_1,SA1_2,SA1_3,SA1_4,SA1_5,SA1_6,D_TRA1_CHECK,D_TRA1_CASE,...,국내_여행방문지_기타당일1,국내_여행방문지_기타당일2,국내_여행방문지_기타당일3,국내_여행방문지_기타당일4,국내_여행방문지_기타당일5,국내_여행방문지_기타당일6,국내_여행방문지_기타당일7,국내_여행방문지_기타당일8,국내_여행방문지_기타당일9,국내_여행방문지_기타당일10
0,2,11010530201_17,0.0,1.0,0.0,0.0,0.0,0.0,Y,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,11010530201_2,0.0,0.0,1.0,0.0,0.0,0.0,,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,11010530201_3,0.0,0.0,1.0,0.0,0.0,1.0,,3.0,...,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,11010530201_35,0.0,0.0,1.0,0.0,0.0,0.0,,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8,11010530201_8,0.0,0.0,1.0,0.0,0.0,0.0,,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19409,50622,39020590071_172926,0.0,0.0,0.0,1.0,0.0,0.0,Y,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19410,50631,39020590321_202105,1.0,0.0,0.0,0.0,0.0,0.0,Y,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19411,50645,3902059058A_344813,1.0,0.0,0.0,0.0,0.0,0.0,Y,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19412,50674,39020600711_345258,0.0,0.0,1.0,0.0,0.0,0.0,,3.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19413,50697,39020610771_345418,0.0,0.0,1.0,0.0,0.0,0.0,,3.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
df['국내_A_여행횟수_국내전체'].value_counts()

1.0    17932
2.0     1359
3.0      100
4.0       21
5.0        2
Name: 국내_A_여행횟수_국내전체, dtype: int64

In [62]:
df[df['D_TRA1_2_SYEAR']==2021.0]['D_TRA1_4_SYEAR']

1102    NaN
1118    NaN
1318    NaN
2082    NaN
2124    NaN
2129    NaN
3337    NaN
3338    NaN
3455    NaN
4780    NaN
5491    NaN
7341    NaN
7342    NaN
7343    NaN
7780    NaN
8737    NaN
13263   NaN
13370   NaN
13374   NaN
14154   NaN
14700   NaN
16213   NaN
16217   NaN
16839   NaN
16841   NaN
16989   NaN
Name: D_TRA1_4_SYEAR, dtype: float64

In [53]:
df[['SA1_1', 'SA1_2', 'SA1_3', 'SA1_4', 'SA1_5']].value_counts()

SA1_1  SA1_2  SA1_3  SA1_4  SA1_5
1.0    0.0    0.0    0.0    0.0      10169
0.0    1.0    0.0    0.0    0.0       3586
       0.0    1.0    0.0    0.0       2925
              0.0    0.0    1.0        754
1.0    0.0    1.0    0.0    0.0        531
0.0    0.0    0.0    1.0    0.0        498
2.0    0.0    0.0    0.0    0.0        190
1.0    0.0    0.0    0.0    1.0        125
0.0    0.0    2.0    0.0    0.0        100
1.0    1.0    0.0    0.0    0.0         81
0.0    1.0    1.0    0.0    0.0         64
       0.0    0.0    0.0    2.0         55
              1.0    0.0    1.0         54
       2.0    0.0    0.0    0.0         42
       1.0    0.0    0.0    1.0         33
1.0    0.0    0.0    1.0    0.0         32
0.0    0.0    1.0    1.0    0.0         18
1.0    0.0    0.0    0.0    2.0         17
0.0    0.0    0.0    2.0    0.0         16
3.0    0.0    0.0    0.0    0.0         16
2.0    0.0    1.0    0.0    0.0         13
0.0    1.0    0.0    1.0    0.0         11
1.0    0.0    2.0    0.0    0.0          9
              1.0    0.0    1.0          8
0.0    0.0    0.0    1.0    1.0          7
              3.0    0.0    0.0          7
4.0    0.0    0.0    0.0    0.0          6
0.0    0.0    0.0    0.0    3.0          5
2.0    0.0    0.0    0.0    1.0          5
                            2.0          3
0.0    3.0    0.0    0.0    0.0          3
       0.0    0.0    0.0    4.0          3
1.0    0.0    1.0    1.0    0.0          2
2.0    1.0    0.0    0.0    0.0          2
       0.0    2.0    0.0    0.0          2
0.0    0.0    2.0    0.0    1.0          2
              4.0    0.0    0.0          2
       1.0    2.0    0.0    0.0          2
              0.0    0.0    2.0          2
       0.0    0.0    3.0    0.0          2
3.0    0.0    1.0    0.0    0.0          1
2.0    0.0    0.0    1.0    0.0          1
0.0    5.0    0.0    0.0    0.0          1
1.0    2.0    1.0    0.0    0.0          1
       1.0    1.0    0.0    0.0          1
       0.0    1.0    0.0    2.0          1
              0.0    2.0    1.0          1
                            0.0          1
0.0    1.0    0.0    2.0    0.0          1
       0.0    2.0    0.0    2.0          1
              1.0    0.0    2.0          1
5.0    0.0    0.0    0.0    0.0          1
dtype: int64

In [4]:
col=df.columns

In [68]:
df['국내_여행여부'].value_counts()

1.0    15505
3.0     3909
Name: 국내_여행여부, dtype: int64