In [1]:
import time
from IPython.display import Image
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import StandardScaler # 표준화(평균을 기준)
from sklearn.preprocessing import MinMaxScaler # 정규화(정해진 규칙 기준, mix-max기준)
from sklearn.datasets import load_iris
# cross_val_score: 다양한 샘플링으 ㄹ해서 여러번 테스트 --> 평균치를 구해본다.!
from sklearn.metrics import *
%matplotlib inline

# 주요 라이브러리 import

from matplotlib import rc, font_manager
import matplotlib.font_manager as fm


# 디렉토리 및 파일 이름에 맞추어 변경
font_location = '../../NanumGothic.ttf'
font_name = fm.FontProperties(fname=font_location).get_name()
rc('font', family=font_name)
import scipy.io as spio

In [2]:
import pyreadstat
df, meta = pyreadstat.read_sav('C:/Users/hi/Desktop/승엽/(원자료) 2020년 국민여행조사_국내여행.sav')

In [3]:
df.shape

(50710, 2107)

In [4]:
##2020 년도에 여행한 사람만 추출하기 전 확인
df.iloc[50:100,1:15][df['D_TRA1_SYEAR']!=2020.0]

,SA1_1,SA1_2,SA1_3,SA1_4,SA1_5,SA1_6,D_TRA1_CHECK,D_TRA1_CASE,D_TRA1_SYEAR,D_TRA1_SMONTH,D_TRA1_SDAY,D_TRA1_EYEAR,D_TRA1_EMONTH,D_TRA1_EDAY
50,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,0.0,0.0,0.0,0.0,0.0,0.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df['D_TRA1_SYEAR'].value_counts()

2020.0    19414
Name: D_TRA1_SYEAR, dtype: int64

In [6]:
df['D_TRA1_SYEAR'].isna().sum()

31296

In [7]:
##2020 년도에 여행한 사람만 추출
df = df[df['D_TRA1_SYEAR']==2020.0] 
df.reset_index(inplace=True)
df

,index,ID,SA1_1,SA1_2,SA1_3,SA1_4,SA1_5,SA1_6,D_TRA1_CHECK,D_TRA1_CASE,...,국내_여행방문지_기타당일1,국내_여행방문지_기타당일2,국내_여행방문지_기타당일3,국내_여행방문지_기타당일4,국내_여행방문지_기타당일5,국내_여행방문지_기타당일6,국내_여행방문지_기타당일7,국내_여행방문지_기타당일8,국내_여행방문지_기타당일9,국내_여행방문지_기타당일10
0,2,11010530201_17,0.0,1.0,0.0,0.0,0.0,0.0,Y,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,11010530201_2,0.0,0.0,1.0,0.0,0.0,0.0,,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,11010530201_3,0.0,0.0,1.0,0.0,0.0,1.0,,3.0,...,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,11010530201_35,0.0,0.0,1.0,0.0,0.0,0.0,,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8,11010530201_8,0.0,0.0,1.0,0.0,0.0,0.0,,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19409,50622,39020590071_172926,0.0,0.0,0.0,1.0,0.0,0.0,Y,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19410,50631,39020590321_202105,1.0,0.0,0.0,0.0,0.0,0.0,Y,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19411,50645,3902059058A_344813,1.0,0.0,0.0,0.0,0.0,0.0,Y,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19412,50674,39020600711_345258,0.0,0.0,1.0,0.0,0.0,0.0,,3.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19413,50697,39020610771_345418,0.0,0.0,1.0,0.0,0.0,0.0,,3.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
## 관광/휴양 이 포함되지 않는 row 제거
df = df[(df['SA1_1']!=0) | (df['SA1_2']!=0.0) | (df['SA1_4']!=0)]

In [9]:
df[['SA1_1', 'SA1_2', 'SA1_3', 'SA1_4', 'SA1_5']].value_counts()

SA1_1  SA1_2  SA1_3  SA1_4  SA1_5
1.0    0.0    0.0    0.0    0.0      10169
0.0    1.0    0.0    0.0    0.0       3586
1.0    0.0    1.0    0.0    0.0        531
0.0    0.0    0.0    1.0    0.0        498
2.0    0.0    0.0    0.0    0.0        190
1.0    0.0    0.0    0.0    1.0        125
       1.0    0.0    0.0    0.0         81
0.0    1.0    1.0    0.0    0.0         64
       2.0    0.0    0.0    0.0         42
       1.0    0.0    0.0    1.0         33
1.0    0.0    0.0    1.0    0.0         32
0.0    0.0    1.0    1.0    0.0         18
1.0    0.0    0.0    0.0    2.0         17
0.0    0.0    0.0    2.0    0.0         16
3.0    0.0    0.0    0.0    0.0         16
2.0    0.0    1.0    0.0    0.0         13
0.0    1.0    0.0    1.0    0.0         11
1.0    0.0    2.0    0.0    0.0          9
              1.0    0.0    1.0          8
0.0    0.0    0.0    1.0    1.0          7
4.0    0.0    0.0    0.0    0.0          6
2.0    0.0    0.0    0.0    1.0          5
                            2.0          3
0.0    3.0    0.0    0.0    0.0          3
2.0    0.0    2.0    0.0    0.0          2
       1.0    0.0    0.0    0.0          2
1.0    0.0    1.0    1.0    0.0          2
0.0    0.0    0.0    3.0    0.0          2
       1.0    0.0    0.0    2.0          2
              2.0    0.0    0.0          2
2.0    0.0    0.0    1.0    0.0          1
3.0    0.0    1.0    0.0    0.0          1
1.0    0.0    0.0    2.0    1.0          1
       2.0    1.0    0.0    0.0          1
       1.0    1.0    0.0    0.0          1
       0.0    1.0    0.0    2.0          1
              0.0    2.0    0.0          1
0.0    5.0    0.0    0.0    0.0          1
       1.0    0.0    2.0    0.0          1
5.0    0.0    0.0    0.0    0.0          1
dtype: int64

In [10]:
## 추천도, 재방문의사 보통이상만 추출
df = df[(df['A12']>=3) & (df['A13']>=3)]
df

,index,ID,SA1_1,SA1_2,SA1_3,SA1_4,SA1_5,SA1_6,D_TRA1_CHECK,D_TRA1_CASE,...,국내_여행방문지_기타당일1,국내_여행방문지_기타당일2,국내_여행방문지_기타당일3,국내_여행방문지_기타당일4,국내_여행방문지_기타당일5,국내_여행방문지_기타당일6,국내_여행방문지_기타당일7,국내_여행방문지_기타당일8,국내_여행방문지_기타당일9,국내_여행방문지_기타당일10
0,2,11010530201_17,0.0,1.0,0.0,0.0,0.0,0.0,Y,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,9,11010530201_9,1.0,0.0,0.0,0.0,0.0,0.0,Y,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,10,11010560051_29800,1.0,0.0,0.0,0.0,0.0,0.0,Y,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,12,11010560051_29803,1.0,0.0,0.0,0.0,0.0,0.0,Y,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,18,11010560051_29835,1.0,0.0,0.0,0.0,1.0,0.0,,5.0,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19407,50601,39020580191_142191,0.0,1.0,0.0,0.0,0.0,0.0,Y,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19408,50610,3902058033A_288916,1.0,0.0,1.0,0.0,0.0,0.0,Y,1.0,...,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19409,50622,39020590071_172926,0.0,0.0,0.0,1.0,0.0,0.0,Y,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19410,50631,39020590321_202105,1.0,0.0,0.0,0.0,0.0,0.0,Y,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19411,50645,3902059058A_344813,1.0,0.0,0.0,0.0,0.0,0.0,Y,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
col=df.columns

In [12]:
df['국내_여행여부'].value_counts()

1.0    15416
Name: 국내_여행여부, dtype: int64

In [13]:
df['A5_13'].value_counts()

13.0    384
Name: A5_13, dtype: int64

In [14]:
## 필요컬럼
columns_list = [
 'D_TRA1_SYEAR',
 'D_TRA1_S_Day',
 'D_TRA1_COST',
 'D_TRA1_ONE_COST',
 'D_TRA1_VAC',
 'D_TRA1_1_SMONTH',
 'D_TRA1_1_SPOT',
 'D_TRA1_1_Q6',
 'D_TRA1_2_SMONTH',
 'D_TRA1_2_SPOT',
 'D_TRA1_2_Q6',
 'D_TRA1_3_SMONTH',
 'D_TRA1_3_SPOT',
 'D_TRA1_3_Q6',
 'D_TRA1_4_SMONTH',
 'D_TRA1_4_SPOT',
 'D_TRA1_4_Q6',
 'D_TRA1_5_SMONTH',
 'D_TRA1_5_SPOT',
 'D_TRA1_5_Q6',
 'D_TRA1_6_SMONTH',
 'D_TRA1_6_SPOT',
 'D_TRA1_6_Q6',
 'D_TRA1_7_SMONTH',
 'D_TRA1_7_SPOT',
 'D_TRA1_7_Q6',
 'D_TRA1_8_SMONTH',
 'D_TRA1_8_SPOT',
 'D_TRA1_8_Q6',
 'D_TRA1_9_SMONTH',
 'D_TRA1_9_SPOT',
 'D_TRA1_9_Q6',
 'D_TRA1_10_SMONTH',
 'D_TRA1_10_SPOT',
 'D_TRA1_10_Q6',
 'D_TRA2_S_Day',
 'D_TRA2_COST',
 'D_TRA2_ONE_COST',
 'D_TRA2_VAC',
 'D_TRA2_1_SMONTH',
 'D_TRA2_1_SPOT',
 'D_TRA2_1_Q6',
 'D_TRA2_2_SMONTH',
 'D_TRA2_2_SPOT',
 'D_TRA2_2_Q6',
 'D_TRA2_3_SMONTH',
 'D_TRA2_3_SPOT',
 'D_TRA2_3_Q6',
 'D_TRA2_4_SMONTH',
 'D_TRA2_4_SPOT',
 'D_TRA2_4_Q6',
 'D_TRA2_5_SMONTH',
 'D_TRA2_5_SPOT',
 'D_TRA2_5_Q6',
 'D_TRA2_6_SMONTH',
 'D_TRA2_6_SPOT',
 'D_TRA2_6_Q6',
 'D_TRA2_7_SMONTH',
 'D_TRA2_7_SPOT',
 'D_TRA2_7_Q6',
 'D_TRA2_8_SMONTH',
 'D_TRA2_8_SPOT',
 'D_TRA2_8_Q6',
 'D_TRA2_9_SMONTH',
 'D_TRA2_9_SPOT',
 'D_TRA2_9_Q6',
 'D_TRA2_10_SMONTH',
 'D_TRA2_10_SPOT',
 'D_TRA2_10_Q6',
 'D_TRA3_S_Day',
 'D_TRA3_COST',
 'D_TRA3_ONE_COST',
 'D_TRA3_VAC',
 'D_TRA3_1_SMONTH',
 'D_TRA3_1_SPOT',
 'D_TRA3_1_Q6',
 'D_TRA3_2_SMONTH',
 'D_TRA3_2_SPOT',
 'D_TRA3_2_Q6',
 'D_TRA3_3_SMONTH',
 'D_TRA3_3_SPOT',
 'D_TRA3_3_Q6',
 'D_TRA3_4_SMONTH',
 'D_TRA3_4_SPOT',
 'D_TRA3_4_Q6',
 'D_TRA3_5_SMONTH',
 'D_TRA3_5_SPOT',
 'D_TRA3_5_Q6',
 'D_TRA3_6_SMONTH',
 'D_TRA3_6_SPOT',
 'D_TRA3_6_Q6',
 'D_TRA3_7_SMONTH',
 'D_TRA3_7_SPOT',
 'D_TRA3_7_Q6',
 'D_TRA3_8_SMONTH',
 'D_TRA3_8_SPOT',
 'D_TRA3_8_Q6',
 'D_TRA3_9_SMONTH',
 'D_TRA3_9_SPOT',
 'D_TRA3_9_Q6',
 'D_TRA3_10_SMONTH',
 'D_TRA3_10_SPOT',
 'D_TRA3_10_Q6',
 'D_TRA4_S_Day',
 'D_TRA4_COST',
 'D_TRA4_ONE_COST',
 'D_TRA4_VAC',
 'D_TRA4_1_SMONTH',
 'D_TRA4_1_SPOT',
 'D_TRA4_1_Q6',
 'D_TRA4_2_SMONTH',
 'D_TRA4_2_SPOT',
 'D_TRA4_2_Q6',
 'D_TRA4_3_SMONTH',
 'D_TRA4_3_SPOT',
 'D_TRA4_3_Q6',
 'D_TRA4_4_SMONTH',
 'D_TRA4_4_SPOT',
 'D_TRA4_4_Q6',
 'D_TRA4_5_SMONTH',
 'D_TRA4_5_SPOT',
 'D_TRA4_5_Q6',
 'D_TRA4_6_SMONTH',
 'D_TRA4_6_SPOT',
 'D_TRA4_6_Q6',
 'D_TRA4_7_SMONTH',
 'D_TRA4_7_SPOT',
 'D_TRA4_7_Q6',
 'D_TRA4_8_SMONTH',
 'D_TRA4_8_SPOT',
 'D_TRA4_8_Q6',
 'D_TRA4_9_SMONTH',
 'D_TRA4_9_SPOT',
 'D_TRA4_9_Q6',
 'D_TRA4_10_SMONTH',
 'D_TRA4_10_SPOT',
 'D_TRA4_10_Q6',
 'D_TRA5_S_Day',
 'D_TRA5_COST',
 'D_TRA5_ONE_COST',
 'D_TRA5_VAC',
 'D_TRA5_1_SMONTH',
 'D_TRA5_1_SPOT',
 'D_TRA5_1_Q6',
 'D_TRA5_2_SMONTH',
 'D_TRA5_2_SPOT',
 'D_TRA5_2_Q6',
 'D_TRA5_3_SMONTH',
 'D_TRA5_3_SPOT',
 'D_TRA5_3_Q6',
 'D_TRA5_4_SMONTH',
 'D_TRA5_4_SPOT',
 'D_TRA5_4_Q6',
 'D_TRA5_5_SMONTH',
 'D_TRA5_5_SPOT',
 'D_TRA5_5_Q6',
 'D_TRA5_6_SMONTH',
 'D_TRA5_6_SPOT',
 'D_TRA5_6_Q6',
 'D_TRA5_7_SMONTH',
 'D_TRA5_7_SPOT',
 'D_TRA5_7_Q6',
 'D_TRA5_8_SMONTH',
 'D_TRA5_8_SPOT',
 'D_TRA5_8_Q6',
 'D_TRA5_9_SMONTH',
 'D_TRA5_9_SPOT',
 'D_TRA5_9_Q6',
 'D_TRA5_10_SMONTH',
 'D_TRA5_10_SPOT',
 'D_TRA5_10_Q6',
 'D_TRA6_S_Day',
 'D_TRA6_COST',
 'D_TRA6_ONE_COST',
 'D_TRA6_VAC',
 'D_TRA6_1_SMONTH',
 'D_TRA6_1_SPOT',
 'D_TRA6_1_Q6',
 'D_TRA6_2_SMONTH',
 'D_TRA6_2_SPOT',
 'D_TRA6_2_Q6',
 'D_TRA6_3_SMONTH',
 'D_TRA6_3_SPOT',
 'D_TRA6_3_Q6',
 'D_TRA6_4_SMONTH',
 'D_TRA6_4_SPOT',
 'D_TRA6_4_Q6',
 'D_TRA6_5_SMONTH',
 'D_TRA6_5_SPOT',
 'D_TRA6_5_Q6',
 'D_TRA6_6_SMONTH',
 'D_TRA6_6_SPOT',
 'D_TRA6_6_Q6',
 'D_TRA6_7_SMONTH',
 'D_TRA6_7_SPOT',
 'D_TRA6_7_Q6',
 'D_TRA6_8_SMONTH',
 'D_TRA6_8_SPOT',
 'D_TRA6_8_Q6',
 'D_TRA6_9_SMONTH',
 'D_TRA6_9_SPOT',
 'D_TRA6_9_Q6',
 'D_TRA6_10_SMONTH',
 'D_TRA6_10_SPOT',
 'D_TRA6_10_Q6',
 'D_TRA7_S_Day',
 'D_TRA7_COST',
 'D_TRA7_ONE_COST',
 'D_TRA7_VAC',
 'D_TRA7_1_SMONTH',
 'D_TRA7_1_SPOT',
 'D_TRA7_1_Q6',
 'D_TRA7_2_SMONTH',
 'D_TRA7_2_SPOT',
 'D_TRA7_2_Q6',
 'D_TRA7_3_SMONTH',
 'D_TRA7_3_SPOT',
 'D_TRA7_3_Q6',
 'D_TRA7_4_SMONTH',
 'D_TRA7_4_SPOT',
 'D_TRA7_4_Q6',
 'D_TRA7_5_SMONTH',
 'D_TRA7_5_SPOT',
 'D_TRA7_5_Q6',
 'D_TRA7_6_SMONTH',
 'D_TRA7_6_SPOT',
 'D_TRA7_6_Q6',
 'D_TRA7_7_SMONTH',
 'D_TRA7_7_SPOT',
 'D_TRA7_7_Q6',
 'D_TRA7_8_SMONTH',
 'D_TRA7_8_SPOT',
 'D_TRA7_8_Q6',
 'D_TRA7_9_SMONTH',
 'D_TRA7_9_SPOT',
 'D_TRA7_9_Q6',
 'D_TRA7_10_SMONTH',
 'D_TRA7_10_SPOT',
 'D_TRA7_10_Q6',
 'D_TRA8_S_Day',
 'D_TRA8_COST',
 'D_TRA8_ONE_COST',
 'D_TRA8_VAC',
 'D_TRA8_1_SMONTH',
 'D_TRA8_1_SPOT',
 'D_TRA8_1_Q6',
 'D_TRA8_2_SMONTH',
 'D_TRA8_2_SPOT',
 'D_TRA8_2_Q6',
 'D_TRA8_3_SMONTH',
 'D_TRA8_3_SPOT',
 'D_TRA8_3_Q6',
 'D_TRA8_4_SMONTH',
 'D_TRA8_4_SPOT',
 'D_TRA8_4_Q6',
 'D_TRA8_5_SMONTH',
 'D_TRA8_5_SPOT',
 'D_TRA8_5_Q6',
 'D_TRA8_6_SMONTH',
 'D_TRA8_6_SPOT',
 'D_TRA8_6_Q6',
 'D_TRA8_7_SMONTH',
 'D_TRA8_7_SPOT',
 'D_TRA8_7_Q6',
 'D_TRA8_8_SMONTH',
 'D_TRA8_8_SPOT',
 'D_TRA8_8_Q6',
 'D_TRA8_9_SMONTH',
 'D_TRA8_9_SPOT',
 'D_TRA8_9_Q6',
 'D_TRA8_10_SMONTH',
 'D_TRA8_10_SPOT',
 'D_TRA8_10_Q6',
 'A1_1',
 'A1_2',
 'A1_3',
 'A2',
 'A4_1',
 'A4_2',
 'A4_3',
 'A5_1',
 'A5_2',
 'A5_3',
 'A5_4',
 'A5_5',
 'A5_6',
 'A5_7',
 'A5_8',
 'A5_9',
 'A5_10',
 'A5_11',
 'A5_12',
 'A5_13',
 'A5_14',
 'A5_15',
 'A5_16',
 'A5_17',
 'A5_18',
 'A5_19',
 'A5_20',
 'A5_21',
 'A7',
 'A7A',
 'A7B_1',
 'A7B_2',
 'A7B_3',
 'A7B_4',
 'A7B_5',
 'A7B_6',
 'A7B_7',
 'NA8_1',
 'NA8_TOTAL',
 'NA9A',
 'NA9B',
 'NA9C',
 'NA9D',
 'NA9E',
 'NA9F',
 'NA9G',
 'NA9H',
 'NA9I',
 'NA9',
 'A11',
 'A11A_1',
 'A11A_2',
 'A11A_3',
 'A11A_4',
 'A11A_5',
 'A11A_6',
 'A11A_7',
 'A11A_8',
 'A11A_9',
 'A11A_10',
 'A11A_11',
 'A11A_12',
 'DQ7',
 'BSEX',
 'BAGE',
 'SAGE',
 'BMON',
 'BARA',
 '국내_숙박여부']

In [15]:
df = df[columns_list]

In [16]:
df

,SA1_1,SA1_2,SA1_3,SA1_4,SA1_5,D_TRA1_SYEAR,D_TRA1_S_Day,D_TRA1_COST,D_TRA1_NUM,D_TRA1_ONE_COST,...,A11A_10,A11A_11,A11A_12,DQ7,BSEX,BAGE,SAGE,BMON,BARA,국내_숙박여부
0,0.0,1.0,0.0,0.0,0.0,2020.0,2.0,100000.0,1.0,100000.0,...,9.0,5.0,4.0,1.0,2.0,1.0,17.0,1.0,1.0,1.0
5,1.0,0.0,0.0,0.0,0.0,2020.0,1.0,200000.0,1.0,200000.0,...,9.0,4.0,4.0,1.0,1.0,2.0,28.0,1.0,1.0,1.0
6,1.0,0.0,0.0,0.0,0.0,2020.0,0.0,60000.0,3.0,20000.0,...,9.0,9.0,4.0,1.0,1.0,5.0,57.0,2.0,1.0,2.0
8,1.0,0.0,0.0,0.0,0.0,2020.0,0.0,70000.0,3.0,23333.0,...,9.0,3.0,4.0,1.0,2.0,1.0,19.0,2.0,1.0,2.0
9,1.0,0.0,0.0,0.0,1.0,2020.0,0.0,90000.0,3.0,30000.0,...,4.0,5.0,4.0,2.0,2.0,3.0,36.0,2.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19407,0.0,1.0,0.0,0.0,0.0,2020.0,4.0,200000.0,1.0,200000.0,...,9.0,3.0,3.0,1.0,2.0,6.0,61.0,5.0,17.0,1.0
19408,1.0,0.0,1.0,0.0,0.0,2020.0,0.0,150000.0,7.0,21429.0,...,5.0,4.0,4.0,1.0,2.0,3.0,37.0,10.0,17.0,2.0
19409,0.0,0.0,0.0,1.0,0.0,2020.0,4.0,200000.0,1.0,200000.0,...,9.0,4.0,4.0,1.0,1.0,7.0,77.0,6.0,17.0,1.0
19410,1.0,0.0,0.0,0.0,0.0,2020.0,1.0,130000.0,3.0,43333.0,...,9.0,3.0,3.0,1.0,1.0,3.0,35.0,7.0,17.0,1.0
19411,1.0,0.0,0.0,0.0,0.0,2020.0,1.0,70000.0,1.0,70000.0,...,9.0,3.0,4.0,1.0,2.0,5.0,56.0,11.0,17.0,1.0

In [17]:
len(columns_list)

355

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15416 entries, 0 to 19411
Columns: 355 entries, SA1_1 to 국내_숙박여부
dtypes: float64(355)
memory usage: 41.9 MB

In [19]:
target_rawcol = []
for i in range(1,22):
    target_rawcol.append("A5_"+str(i))
target_rawcol

['A5_1',
 'A5_2',
 'A5_3',
 'A5_4',
 'A5_5',
 'A5_6',
 'A5_7',
 'A5_8',
 'A5_9',
 'A5_10',
 'A5_11',
 'A5_12',
 'A5_13',
 'A5_14',
 'A5_15',
 'A5_16',
 'A5_17',
 'A5_18',
 'A5_19',
 'A5_20',
 'A5_21']

In [20]:
# Target값 전처리

# Q5. 다녀오신 여행에서 참여하신 활동은 무엇입니까? 해당되는 항목은 모두 선택해 주십시오.
# column명: A5_1 ~ A5_21
# 전처리 전:
# 자연 및 풍경감상
# 음식관광(지역 맛집 등)
# 야외 위락 및 스포츠, 레포츠 활동
# 역사 유적지 방문
# 테마파크, 놀이시설, 동/식물원 방문
# 휴식/휴양
# 온천/스파
# 쇼핑
# 지역 문화예술/공연/전시시설 관람
# 스포츠 경기관람
# 지역 축제/이벤트참가
# 교육/체험 프로그램 참가
# 종교/성지순례
# 카지노, 경마, 경륜 등
# 시티투터
# 드라마 촬영지 방문
# 유흥/오락
# 가족/친지/친구 방문
# 회의참가/시찰
# 교육/훈련/연수
# 기타

# 전처리 후:
# 1.자연 및 풍경감상
# 2.음식관광(지역 맛집 등)
# 3.야외 위락 및 스포츠, 레포츠 활동
# 4.역사 유적지 방문                                  + 16. 드라마 촬영지 방문
# 5.테마파크, 놀이시설, 동/식물원 방문
# 6.휴식/휴양                                            + 7. 온천/스파
# 8.쇼핑                                                   + 15. 시티투어
# 9.지역 문화예술/공연/전시시설 관람         + 10.스포츠 경기관람, 11.지역 축제/이벤트참가 +12. 교육/체험 프로그램 참가
# 17.유흥/오락                                           +14.카지노, 경마, 경륜 등
# 21.기타

# 기타 추가 컬럼
# 13.종교/성지순례
# 18.가족/친지/친구 방문
# 19.회의참가/시찰
# 20.교육/훈련/연수

In [21]:
df.shape

(15416, 355)

In [22]:
df[target_rawcol].head()

,A5_1,A5_2,A5_3,A5_4,A5_5,A5_6,A5_7,A5_8,A5_9,A5_10,...,A5_12,A5_13,A5_14,A5_15,A5_16,A5_17,A5_18,A5_19,A5_20,A5_21
0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN
5,1.0,2.0,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1.0,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1.0,2.0,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
df.to_csv('2020_전처리중확인_drop.csv')

# ========================새 csv======================================

In [24]:
import time
from IPython.display import Image
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import StandardScaler # 표준화(평균을 기준)
from sklearn.preprocessing import MinMaxScaler # 정규화(정해진 규칙 기준, mix-max기준)
from sklearn.datasets import load_iris
# cross_val_score: 다양한 샘플링으 ㄹ해서 여러번 테스트 --> 평균치를 구해본다.!
from sklearn.metrics import *
%matplotlib inline

# 주요 라이브러리 import

from matplotlib import rc, font_manager
import matplotlib.font_manager as fm


# 디렉토리 및 파일 이름에 맞추어 변경
font_location = '../../NanumGothic.ttf'
font_name = fm.FontProperties(fname=font_location).get_name()
rc('font', family=font_name)
import scipy.io as spio

In [62]:
df = pd.read_csv('2020_전처리중확인_drop.csv', index_col = 0)
df

,SA1_1,SA1_2,SA1_3,SA1_4,SA1_5,D_TRA1_SYEAR,D_TRA1_S_Day,D_TRA1_COST,D_TRA1_NUM,D_TRA1_ONE_COST,...,A11A_10,A11A_11,A11A_12,DQ7,BSEX,BAGE,SAGE,BMON,BARA,국내_숙박여부
0,0.0,1.0,0.0,0.0,0.0,2020.0,2.0,100000.0,1.0,100000.0,...,9.0,5.0,4.0,1.0,2.0,1.0,17.0,1.0,1.0,1.0
5,1.0,0.0,0.0,0.0,0.0,2020.0,1.0,200000.0,1.0,200000.0,...,9.0,4.0,4.0,1.0,1.0,2.0,28.0,1.0,1.0,1.0
6,1.0,0.0,0.0,0.0,0.0,2020.0,0.0,60000.0,3.0,20000.0,...,9.0,9.0,4.0,1.0,1.0,5.0,57.0,2.0,1.0,2.0
8,1.0,0.0,0.0,0.0,0.0,2020.0,0.0,70000.0,3.0,23333.0,...,9.0,3.0,4.0,1.0,2.0,1.0,19.0,2.0,1.0,2.0
9,1.0,0.0,0.0,0.0,1.0,2020.0,0.0,90000.0,3.0,30000.0,...,4.0,5.0,4.0,2.0,2.0,3.0,36.0,2.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19407,0.0,1.0,0.0,0.0,0.0,2020.0,4.0,200000.0,1.0,200000.0,...,9.0,3.0,3.0,1.0,2.0,6.0,61.0,5.0,17.0,1.0
19408,1.0,0.0,1.0,0.0,0.0,2020.0,0.0,150000.0,7.0,21429.0,...,5.0,4.0,4.0,1.0,2.0,3.0,37.0,10.0,17.0,2.0
19409,0.0,0.0,0.0,1.0,0.0,2020.0,4.0,200000.0,1.0,200000.0,...,9.0,4.0,4.0,1.0,1.0,7.0,77.0,6.0,17.0,1.0
19410,1.0,0.0,0.0,0.0,0.0,2020.0,1.0,130000.0,3.0,43333.0,...,9.0,3.0,3.0,1.0,1.0,3.0,35.0,7.0,17.0,1.0
19411,1.0,0.0,0.0,0.0,0.0,2020.0,1.0,70000.0,1.0,70000.0,...,9.0,3.0,4.0,1.0,2.0,5.0,56.0,11.0,17.0,1.0

In [63]:
df = df.reset_index()
df

,index,SA1_1,SA1_2,SA1_3,SA1_4,SA1_5,D_TRA1_SYEAR,D_TRA1_S_Day,D_TRA1_COST,D_TRA1_NUM,...,A11A_10,A11A_11,A11A_12,DQ7,BSEX,BAGE,SAGE,BMON,BARA,국내_숙박여부
0,0,0.0,1.0,0.0,0.0,0.0,2020.0,2.0,100000.0,1.0,...,9.0,5.0,4.0,1.0,2.0,1.0,17.0,1.0,1.0,1.0
1,5,1.0,0.0,0.0,0.0,0.0,2020.0,1.0,200000.0,1.0,...,9.0,4.0,4.0,1.0,1.0,2.0,28.0,1.0,1.0,1.0
2,6,1.0,0.0,0.0,0.0,0.0,2020.0,0.0,60000.0,3.0,...,9.0,9.0,4.0,1.0,1.0,5.0,57.0,2.0,1.0,2.0
3,8,1.0,0.0,0.0,0.0,0.0,2020.0,0.0,70000.0,3.0,...,9.0,3.0,4.0,1.0,2.0,1.0,19.0,2.0,1.0,2.0
4,9,1.0,0.0,0.0,0.0,1.0,2020.0,0.0,90000.0,3.0,...,4.0,5.0,4.0,2.0,2.0,3.0,36.0,2.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15411,19407,0.0,1.0,0.0,0.0,0.0,2020.0,4.0,200000.0,1.0,...,9.0,3.0,3.0,1.0,2.0,6.0,61.0,5.0,17.0,1.0
15412,19408,1.0,0.0,1.0,0.0,0.0,2020.0,0.0,150000.0,7.0,...,5.0,4.0,4.0,1.0,2.0,3.0,37.0,10.0,17.0,2.0
15413,19409,0.0,0.0,0.0,1.0,0.0,2020.0,4.0,200000.0,1.0,...,9.0,4.0,4.0,1.0,1.0,7.0,77.0,6.0,17.0,1.0
15414,19410,1.0,0.0,0.0,0.0,0.0,2020.0,1.0,130000.0,3.0,...,9.0,3.0,3.0,1.0,1.0,3.0,35.0,7.0,17.0,1.0
15415,19411,1.0,0.0,0.0,0.0,0.0,2020.0,1.0,70000.0,1.0,...,9.0,3.0,4.0,1.0,2.0,5.0,56.0,11.0,17.0,1.0

In [64]:
del df['index']

In [ ]:
import fuckit

In [124]:
@fuckit
def func():
    try: 
        a = 1+1
        print(a)
        b = 'asdf'
        b = a+b
        print("after error:", b)
    except:pass

In [132]:
@fuckit
def assemble():
    sleepnights_list = []
    cost_list = []
    area_list = []
    count_list = []
    month_list = []
    accommodation_list = []
    for index in df.index:
        sleepnights = ''
        cost = ''
        area = ''
        count = 0
        month = ''
        accommodation = ''
        for i in range (1,9):
            col_sleepnights = 'D_TRA'+str(i)+'_S_Day'       
            col_cost = 'D_TRA'+str(i)+'_COST'        
            try: 
                sleepnights = sleepnights + str(int(df.loc[index,col_sleepnights])) + ','
                cost = cost + str(int(df.loc[index,col_cost])) +','
            except: pass
            for j in range(1,11):
                
                col_area ='D_TRA'+str(i)+'_'+str(j)+'_SPOT'
                col_month = 'D_TRA'+str(i)+'_'+str(j)+'_SMONTH'
                col_accommodation = 'D_TRA'+str(i)+'_'+str(j)+'_Q6'
                try: 
                    area = area + str(int(df.loc[index, col_area])) + ','
                    count += 1
                except: pass
                try:
                    month = month + str(int(df.loc[index, col_month])) + ','
                except:
                    pass
                try:
                    accommodation = accommodation + str(int(df.loc[index, col_accommodation])) + ','
                except:
                    pass
        try:
            area = area.rstrip(area[-1])
            sleepnights = sleepnights.rstrip(sleepnights[-1])
            cost = cost.rstrip(cost[-1])
            month = month.rstrip(month[-1])
            accommodation = accommodation.rstrip(accommodation[-1])
        except:
            pass
        area_list.append(area)
        count_list.append(count)
        month_list.append(month)
        cost_list.append(cost)
        accommodation_list.append(accommodation)
        sleepnights_list.append(sleepnights)
        
    df['area']= area_list
    df['no_of_place'] = count_list
    df['month'] = month_list
    df['cost'] = cost_list
    df['sleepnights'] = sleepnights_list
    df['accommodation'] = accommodation_list

In [133]:
## TRA1_1, TRA1_2 등 모든 여행지 파생변수 area로 ,로 구분해서 입력, 
## 여행지 개수 count하여 no_of_place 컬럼에입력

assemble()

In [134]:
df[['area', 'no_of_place', 'month', 'cost', 'sleepnights', 'accommodation']]

,area,no_of_place,month,cost,sleepnights,accommodation
0,"32010,32010,32010",80,"1,1,1",100000,2,"12,12"
1,"23310,23310",80,"1,1",200000,1,3
2,31160,80,2,60000,0,
3,31110,80,2,70000,0,
4,"23080,31270",80,"2,2","90000,100000","0,0",
...,...,...,...,...,...,...
15411,"23060,23010",80,"5,5",200000,4,12
15412,"39010,39010",80,"10,10","150000,30000","0,0",
15413,"31020,32070",80,"6,6",200000,4,"12,3"
15414,"39010,39010,39010",80,"7,7,7",130000,1,12
15415,39010,80,11,70000,1,3

In [101]:
df.columns

Index(['SA1_1', 'SA1_2', 'SA1_3', 'SA1_4', 'SA1_5', 'D_TRA1_SYEAR',
       'D_TRA1_S_Day', 'D_TRA1_COST', 'D_TRA1_NUM', 'D_TRA1_ONE_COST',
       ...
       'A11A_12', 'DQ7', 'BSEX', 'BAGE', 'SAGE', 'BMON', 'BARA', '국내_숙박여부',
       'area', 'no_of_place'],
      dtype='object', length=357)

In [ ]:
## 필요컬럼
columns_list = [
 'D_TRA1_SYEAR',
 'D_TRA1_S_Day',
 'D_TRA1_COST',
 'D_TRA1_ONE_COST',
 'D_TRA1_VAC',
 'D_TRA1_1_SMONTH',
 'D_TRA1_1_SPOT',
 'D_TRA1_1_Q6',
 'D_TRA1_2_SMONTH',
 'D_TRA1_2_SPOT',
 'D_TRA1_2_Q6',
 'D_TRA1_3_SMONTH',
 'D_TRA1_3_SPOT',
 'D_TRA1_3_Q6',
 'D_TRA1_4_SMONTH',
 'D_TRA1_4_SPOT',
 'D_TRA1_4_Q6',
 'D_TRA1_5_SMONTH',
 'D_TRA1_5_SPOT',
 'D_TRA1_5_Q6',
 'D_TRA1_6_SMONTH',
 'D_TRA1_6_SPOT',
 'D_TRA1_6_Q6',
 'D_TRA1_7_SMONTH',
 'D_TRA1_7_SPOT',
 'D_TRA1_7_Q6',
 'D_TRA1_8_SMONTH',
 'D_TRA1_8_SPOT',
 'D_TRA1_8_Q6',
 'D_TRA1_9_SMONTH',
 'D_TRA1_9_SPOT',
 'D_TRA1_9_Q6',
 'D_TRA1_10_SMONTH',
 'D_TRA1_10_SPOT',
 'D_TRA1_10_Q6',
 'D_TRA2_S_Day',
 'D_TRA2_COST',
 'D_TRA2_ONE_COST',
 'D_TRA2_VAC',
 'D_TRA2_1_SMONTH',
 'D_TRA2_1_SPOT',
 'D_TRA2_1_Q6',
 'D_TRA2_2_SMONTH',
 'D_TRA2_2_SPOT',
 'D_TRA2_2_Q6',
 'D_TRA2_3_SMONTH',
 'D_TRA2_3_SPOT',
 'D_TRA2_3_Q6',
 'D_TRA2_4_SMONTH',
 'D_TRA2_4_SPOT',
 'D_TRA2_4_Q6',
 'D_TRA2_5_SMONTH',
 'D_TRA2_5_SPOT',
 'D_TRA2_5_Q6',
 'D_TRA2_6_SMONTH',
 'D_TRA2_6_SPOT',
 'D_TRA2_6_Q6',
 'D_TRA2_7_SMONTH',
 'D_TRA2_7_SPOT',
 'D_TRA2_7_Q6',
 'D_TRA2_8_SMONTH',
 'D_TRA2_8_SPOT',
 'D_TRA2_8_Q6',
 'D_TRA2_9_SMONTH',
 'D_TRA2_9_SPOT',
 'D_TRA2_9_Q6',
 'D_TRA2_10_SMONTH',
 'D_TRA2_10_SPOT',
 'D_TRA2_10_Q6',
 'D_TRA3_S_Day',
 'D_TRA3_COST',
 'D_TRA3_ONE_COST',
 'D_TRA3_VAC',
 'D_TRA3_1_SMONTH',
 'D_TRA3_1_SPOT',
 'D_TRA3_1_Q6',
 'D_TRA3_2_SMONTH',
 'D_TRA3_2_SPOT',
 'D_TRA3_2_Q6',
 'D_TRA3_3_SMONTH',
 'D_TRA3_3_SPOT',
 'D_TRA3_3_Q6',
 'D_TRA3_4_SMONTH',
 'D_TRA3_4_SPOT',
 'D_TRA3_4_Q6',
 'D_TRA3_5_SMONTH',
 'D_TRA3_5_SPOT',
 'D_TRA3_5_Q6',
 'D_TRA3_6_SMONTH',
 'D_TRA3_6_SPOT',
 'D_TRA3_6_Q6',
 'D_TRA3_7_SMONTH',
 'D_TRA3_7_SPOT',
 'D_TRA3_7_Q6',
 'D_TRA3_8_SMONTH',
 'D_TRA3_8_SPOT',
 'D_TRA3_8_Q6',
 'D_TRA3_9_SMONTH',
 'D_TRA3_9_SPOT',
 'D_TRA3_9_Q6',
 'D_TRA3_10_SMONTH',
 'D_TRA3_10_SPOT',
 'D_TRA3_10_Q6',
 'D_TRA4_S_Day',
 'D_TRA4_COST',
 'D_TRA4_ONE_COST',
 'D_TRA4_VAC',
 'D_TRA4_1_SMONTH',
 'D_TRA4_1_SPOT',
 'D_TRA4_1_Q6',
 'D_TRA4_2_SMONTH',
 'D_TRA4_2_SPOT',
 'D_TRA4_2_Q6',
 'D_TRA4_3_SMONTH',
 'D_TRA4_3_SPOT',
 'D_TRA4_3_Q6',
 'D_TRA4_4_SMONTH',
 'D_TRA4_4_SPOT',
 'D_TRA4_4_Q6',
 'D_TRA4_5_SMONTH',
 'D_TRA4_5_SPOT',
 'D_TRA4_5_Q6',
 'D_TRA4_6_SMONTH',
 'D_TRA4_6_SPOT',
 'D_TRA4_6_Q6',
 'D_TRA4_7_SMONTH',
 'D_TRA4_7_SPOT',
 'D_TRA4_7_Q6',
 'D_TRA4_8_SMONTH',
 'D_TRA4_8_SPOT',
 'D_TRA4_8_Q6',
 'D_TRA4_9_SMONTH',
 'D_TRA4_9_SPOT',
 'D_TRA4_9_Q6',
 'D_TRA4_10_SMONTH',
 'D_TRA4_10_SPOT',
 'D_TRA4_10_Q6',
 'D_TRA5_S_Day',
 'D_TRA5_COST',
 'D_TRA5_ONE_COST',
 'D_TRA5_VAC',
 'D_TRA5_1_SMONTH',
 'D_TRA5_1_SPOT',
 'D_TRA5_1_Q6',
 'D_TRA5_2_SMONTH',
 'D_TRA5_2_SPOT',
 'D_TRA5_2_Q6',
 'D_TRA5_3_SMONTH',
 'D_TRA5_3_SPOT',
 'D_TRA5_3_Q6',
 'D_TRA5_4_SMONTH',
 'D_TRA5_4_SPOT',
 'D_TRA5_4_Q6',
 'D_TRA5_5_SMONTH',
 'D_TRA5_5_SPOT',
 'D_TRA5_5_Q6',
 'D_TRA5_6_SMONTH',
 'D_TRA5_6_SPOT',
 'D_TRA5_6_Q6',
 'D_TRA5_7_SMONTH',
 'D_TRA5_7_SPOT',
 'D_TRA5_7_Q6',
 'D_TRA5_8_SMONTH',
 'D_TRA5_8_SPOT',
 'D_TRA5_8_Q6',
 'D_TRA5_9_SMONTH',
 'D_TRA5_9_SPOT',
 'D_TRA5_9_Q6',
 'D_TRA5_10_SMONTH',
 'D_TRA5_10_SPOT',
 'D_TRA5_10_Q6',
 'D_TRA6_S_Day',
 'D_TRA6_COST',
 'D_TRA6_ONE_COST',
 'D_TRA6_VAC',
 'D_TRA6_1_SMONTH',
 'D_TRA6_1_SPOT',
 'D_TRA6_1_Q6',
 'D_TRA6_2_SMONTH',
 'D_TRA6_2_SPOT',
 'D_TRA6_2_Q6',
 'D_TRA6_3_SMONTH',
 'D_TRA6_3_SPOT',
 'D_TRA6_3_Q6',
 'D_TRA6_4_SMONTH',
 'D_TRA6_4_SPOT',
 'D_TRA6_4_Q6',
 'D_TRA6_5_SMONTH',
 'D_TRA6_5_SPOT',
 'D_TRA6_5_Q6',
 'D_TRA6_6_SMONTH',
 'D_TRA6_6_SPOT',
 'D_TRA6_6_Q6',
 'D_TRA6_7_SMONTH',
 'D_TRA6_7_SPOT',
 'D_TRA6_7_Q6',
 'D_TRA6_8_SMONTH',
 'D_TRA6_8_SPOT',
 'D_TRA6_8_Q6',
 'D_TRA6_9_SMONTH',
 'D_TRA6_9_SPOT',
 'D_TRA6_9_Q6',
 'D_TRA6_10_SMONTH',
 'D_TRA6_10_SPOT',
 'D_TRA6_10_Q6',
 'D_TRA7_S_Day',
 'D_TRA7_COST',
 'D_TRA7_ONE_COST',
 'D_TRA7_VAC',
 'D_TRA7_1_SMONTH',
 'D_TRA7_1_SPOT',
 'D_TRA7_1_Q6',
 'D_TRA7_2_SMONTH',
 'D_TRA7_2_SPOT',
 'D_TRA7_2_Q6',
 'D_TRA7_3_SMONTH',
 'D_TRA7_3_SPOT',
 'D_TRA7_3_Q6',
 'D_TRA7_4_SMONTH',
 'D_TRA7_4_SPOT',
 'D_TRA7_4_Q6',
 'D_TRA7_5_SMONTH',
 'D_TRA7_5_SPOT',
 'D_TRA7_5_Q6',
 'D_TRA7_6_SMONTH',
 'D_TRA7_6_SPOT',
 'D_TRA7_6_Q6',
 'D_TRA7_7_SMONTH',
 'D_TRA7_7_SPOT',
 'D_TRA7_7_Q6',
 'D_TRA7_8_SMONTH',
 'D_TRA7_8_SPOT',
 'D_TRA7_8_Q6',
 'D_TRA7_9_SMONTH',
 'D_TRA7_9_SPOT',
 'D_TRA7_9_Q6',
 'D_TRA7_10_SMONTH',
 'D_TRA7_10_SPOT',
 'D_TRA7_10_Q6',
 'D_TRA8_S_Day',
 'D_TRA8_COST',
 'D_TRA8_ONE_COST',
 'D_TRA8_VAC',
 'D_TRA8_1_SMONTH',
 'D_TRA8_1_SPOT',
 'D_TRA8_1_Q6',
 'D_TRA8_2_SMONTH',
 'D_TRA8_2_SPOT',
 'D_TRA8_2_Q6',
 'D_TRA8_3_SMONTH',
 'D_TRA8_3_SPOT',
 'D_TRA8_3_Q6',
 'D_TRA8_4_SMONTH',
 'D_TRA8_4_SPOT',
 'D_TRA8_4_Q6',
 'D_TRA8_5_SMONTH',
 'D_TRA8_5_SPOT',
 'D_TRA8_5_Q6',
 'D_TRA8_6_SMONTH',
 'D_TRA8_6_SPOT',
 'D_TRA8_6_Q6',
 'D_TRA8_7_SMONTH',
 'D_TRA8_7_SPOT',
 'D_TRA8_7_Q6',
 'D_TRA8_8_SMONTH',
 'D_TRA8_8_SPOT',
 'D_TRA8_8_Q6',
 'D_TRA8_9_SMONTH',
 'D_TRA8_9_SPOT',
 'D_TRA8_9_Q6',
 'D_TRA8_10_SMONTH',
 'D_TRA8_10_SPOT',
 'D_TRA8_10_Q6',
 'A1_1',
 'A1_2',
 'A1_3',
 'A2',
 'A4_1',
 'A4_2',
 'A4_3',
 'A5_1',
 'A5_2',
 'A5_3',
 'A5_4',
 'A5_5',
 'A5_6',
 'A5_7',
 'A5_8',
 'A5_9',
 'A5_10',
 'A5_11',
 'A5_12',
 'A5_13',
 'A5_14',
 'A5_15',
 'A5_16',
 'A5_17',
 'A5_18',
 'A5_19',
 'A5_20',
 'A5_21',
 'A7',
 'A7A',
 'A7B_1',
 'A7B_2',
 'A7B_3',
 'A7B_4',
 'A7B_5',
 'A7B_6',
 'A7B_7',
 'NA8_1',
 'NA8_TOTAL',
 'NA9A',
 'NA9B',
 'NA9C',
 'NA9D',
 'NA9E',
 'NA9F',
 'NA9G',
 'NA9H',
 'NA9I',
 'NA9',
 'A11',
 'A11A_1',
 'A11A_2',
 'A11A_3',
 'A11A_4',
 'A11A_5',
 'A11A_6',
 'A11A_7',
 'A11A_8',
 'A11A_9',
 'A11A_10',
 'A11A_11',
 'A11A_12',
 'DQ7',
 'BSEX',
 'BAGE',
 'SAGE',
 'BMON',
 'BARA',
 '국내_숙박여부']

,D_TRA1_NUM,D_TRA2_NUM,D_TRA3_NUM,D_TRA4_NUM,D_TRA5_NUM,D_TRA6_NUM,D_TRA7_NUM,A7
0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0
1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0
2,3.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0
3,3.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0
4,3.0,2.0,NaN,NaN,NaN,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
15411,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
15412,7.0,3.0,NaN,NaN,NaN,NaN,NaN,7.0
15413,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
15414,3.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0
15415,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0

In [92]:
df['no_of_place'].value_counts()

1    15416
Name: no_of_place, dtype: int64

In [91]:
df.loc[0:5,target_rawcol]

,A5_1,A5_2,A5_3,A5_4,A5_5,A5_6,A5_7,A5_8,A5_9,A5_10,...,A5_12,A5_13,A5_14,A5_15,A5_16,A5_17,A5_18,A5_19,A5_20,A5_21
0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN
1,1.0,2.0,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,2.0,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1.0,2.0,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.loc[:20,'D_TRA8_7_SPOT']

In [274]:
df['A5_17'].value_counts()

17.0    406
Name: A5_17, dtype: int64

In [275]:
target_rawcol = []
for i in range(1,22):
    target_rawcol.append("A5_"+str(i))
target_rawcol

['A5_1',
 'A5_2',
 'A5_3',
 'A5_4',
 'A5_5',
 'A5_6',
 'A5_7',
 'A5_8',
 'A5_9',
 'A5_10',
 'A5_11',
 'A5_12',
 'A5_13',
 'A5_14',
 'A5_15',
 'A5_16',
 'A5_17',
 'A5_18',
 'A5_19',
 'A5_20',
 'A5_21']

In [45]:
# 로우 드랍 할 target
# 13.종교/성지순례 385
# 18.가족/친지/친구 방문 2755
# 19.회의참가/시찰 244
# 20.교육/훈련/연수 185
# 21.기타 89 합:4081
dropcol = ['A5_13','A5_18','A5_19','A5_20', 'A5_21']
intdropcol = [13,18,19,20,21]

In [46]:
## 안쓰는 target row drop
for i, col in enumerate(dropcol):
    df = df[df[col] != intdropcol[i]]
df

,SA1_1,SA1_2,SA1_3,SA1_4,SA1_5,D_TRA1_SYEAR,D_TRA1_S_Day,D_TRA1_COST,D_TRA1_NUM,D_TRA1_ONE_COST,...,A11A_10,A11A_11,A11A_12,DQ7,BSEX,BAGE,SAGE,BMON,BARA,국내_숙박여부
5,1.0,0.0,0.0,0.0,0.0,2020.0,1.0,200000.0,1.0,200000.0,...,9.0,4.0,4.0,1.0,1.0,2.0,28.0,1.0,1.0,1.0
6,1.0,0.0,0.0,0.0,0.0,2020.0,0.0,60000.0,3.0,20000.0,...,9.0,9.0,4.0,1.0,1.0,5.0,57.0,2.0,1.0,2.0
8,1.0,0.0,0.0,0.0,0.0,2020.0,0.0,70000.0,3.0,23333.0,...,9.0,3.0,4.0,1.0,2.0,1.0,19.0,2.0,1.0,2.0
9,1.0,0.0,0.0,0.0,1.0,2020.0,0.0,90000.0,3.0,30000.0,...,4.0,5.0,4.0,2.0,2.0,3.0,36.0,2.0,1.0,2.0
10,1.0,0.0,0.0,0.0,0.0,2020.0,1.0,500000.0,4.0,125000.0,...,5.0,4.0,5.0,2.0,1.0,2.0,26.0,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19399,1.0,0.0,1.0,0.0,0.0,2020.0,0.0,50000.0,3.0,16667.0,...,9.0,2.0,4.0,1.0,2.0,4.0,46.0,3.0,17.0,2.0
19405,0.0,0.0,0.0,1.0,0.0,2020.0,0.0,10000.0,1.0,10000.0,...,9.0,9.0,9.0,1.0,1.0,4.0,41.0,9.0,17.0,2.0
19406,1.0,0.0,0.0,0.0,0.0,2020.0,1.0,250000.0,12.0,20833.0,...,9.0,9.0,9.0,1.0,2.0,3.0,31.0,9.0,17.0,1.0
19408,1.0,0.0,1.0,0.0,0.0,2020.0,0.0,150000.0,7.0,21429.0,...,5.0,4.0,4.0,1.0,2.0,3.0,37.0,10.0,17.0,2.0
19411,1.0,0.0,0.0,0.0,0.0,2020.0,1.0,70000.0,1.0,70000.0,...,9.0,3.0,4.0,1.0,2.0,5.0,56.0,11.0,17.0,1.0

In [47]:
## 안쓰는 target column drop
df.drop(columns = dropcol, inplace=True)
df

,SA1_1,SA1_2,SA1_3,SA1_4,SA1_5,D_TRA1_SYEAR,D_TRA1_S_Day,D_TRA1_COST,D_TRA1_NUM,D_TRA1_ONE_COST,...,A11A_10,A11A_11,A11A_12,DQ7,BSEX,BAGE,SAGE,BMON,BARA,국내_숙박여부
5,1.0,0.0,0.0,0.0,0.0,2020.0,1.0,200000.0,1.0,200000.0,...,9.0,4.0,4.0,1.0,1.0,2.0,28.0,1.0,1.0,1.0
6,1.0,0.0,0.0,0.0,0.0,2020.0,0.0,60000.0,3.0,20000.0,...,9.0,9.0,4.0,1.0,1.0,5.0,57.0,2.0,1.0,2.0
8,1.0,0.0,0.0,0.0,0.0,2020.0,0.0,70000.0,3.0,23333.0,...,9.0,3.0,4.0,1.0,2.0,1.0,19.0,2.0,1.0,2.0
9,1.0,0.0,0.0,0.0,1.0,2020.0,0.0,90000.0,3.0,30000.0,...,4.0,5.0,4.0,2.0,2.0,3.0,36.0,2.0,1.0,2.0
10,1.0,0.0,0.0,0.0,0.0,2020.0,1.0,500000.0,4.0,125000.0,...,5.0,4.0,5.0,2.0,1.0,2.0,26.0,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19399,1.0,0.0,1.0,0.0,0.0,2020.0,0.0,50000.0,3.0,16667.0,...,9.0,2.0,4.0,1.0,2.0,4.0,46.0,3.0,17.0,2.0
19405,0.0,0.0,0.0,1.0,0.0,2020.0,0.0,10000.0,1.0,10000.0,...,9.0,9.0,9.0,1.0,1.0,4.0,41.0,9.0,17.0,2.0
19406,1.0,0.0,0.0,0.0,0.0,2020.0,1.0,250000.0,12.0,20833.0,...,9.0,9.0,9.0,1.0,2.0,3.0,31.0,9.0,17.0,1.0
19408,1.0,0.0,1.0,0.0,0.0,2020.0,0.0,150000.0,7.0,21429.0,...,5.0,4.0,4.0,1.0,2.0,3.0,37.0,10.0,17.0,2.0
19411,1.0,0.0,0.0,0.0,0.0,2020.0,1.0,70000.0,1.0,70000.0,...,9.0,3.0,4.0,1.0,2.0,5.0,56.0,11.0,17.0,1.0

In [48]:
target_col = ['A5_1',
 'A5_2',
 'A5_3',
 'A5_4',
 'A5_5',
 'A5_6',
 'A5_7',
 'A5_8',
 'A5_9',
 'A5_10',
 'A5_11',
 'A5_12',
 'A5_14',
 'A5_15',
 'A5_16',
 'A5_17']
target_intlist = [1,2,3,4,5,6,7,8,9,10,11,12,14,15,16,17]
print(len(target_intlist), len(target_col))

16 16

In [217]:
## 가중치를 구하기 위해 target 16컬럼의 총 개수
target_list = []
for n in df.index:
    for i, col in enumerate(target_col):
        if df.loc[n, col]==target_intlist[i]:
            target_list.append(target_intlist[i])
total_weight = len(target_list)
total_weight

30733

In [219]:
## 가중치 = 1/total_weight
per_weight = 1/total_weight
per_weight

3.253831386457554e-05

In [220]:
for i in target_intlist:
    i_weight = target_list.count(i)*per_weight
    print(str(i)+"_weight:", i_weight)

1_weight: 0.3232356099306934
2_weight: 0.22724758403019554
3_weight: 0.026779032310545667
4_weight: 0.03465330426577295
5_weight: 0.024761656850941983
6_weight: 0.24198744021084828
7_weight: 0.010086877298018417
8_weight: 0.03341684833891908
9_weight: 0.012950248918101063
10_weight: 0.0002928448247811798
11_weight: 0.006410047831321381
12_weight: 0.005141053590602935
14_weight: 0.0002928448247811798
15_weight: 0.024956886734129435
16_weight: 0.017017538151173007
17_weight: 0.010770181889174503

In [228]:
## 여행6 이사은 값이 없으므로 6이상의 컬럼들 삭제

# for i in range (6, 9):
#     df.drop(columns=['D_TRA'+str(i)+'_S_Day', 'D_TRA'+str(i)+'_COST', 'D_TRA'+str(i)+'_NUM', 'D_TRA'+str(i)+'_ONE_COST', 
#                      'D_TRA'+str(i)+'_VAC', 'D_TRA'+str(i)+'_SYEAR', 'D_TRA'+str(i)+'_1_SMONTH', 'D_TRA'+str(i)+'_1_SPOT', 
#                      'D_TRA'+str(i)+'_1_Q6_Ar',  'D_TRA'+str(i)+'_1_Q6'], inplace=True)

In [49]:
df

,SA1_1,SA1_2,SA1_3,SA1_4,SA1_5,D_TRA1_SYEAR,D_TRA1_S_Day,D_TRA1_COST,D_TRA1_NUM,D_TRA1_ONE_COST,...,A11A_10,A11A_11,A11A_12,DQ7,BSEX,BAGE,SAGE,BMON,BARA,국내_숙박여부
5,1.0,0.0,0.0,0.0,0.0,2020.0,1.0,200000.0,1.0,200000.0,...,9.0,4.0,4.0,1.0,1.0,2.0,28.0,1.0,1.0,1.0
6,1.0,0.0,0.0,0.0,0.0,2020.0,0.0,60000.0,3.0,20000.0,...,9.0,9.0,4.0,1.0,1.0,5.0,57.0,2.0,1.0,2.0
8,1.0,0.0,0.0,0.0,0.0,2020.0,0.0,70000.0,3.0,23333.0,...,9.0,3.0,4.0,1.0,2.0,1.0,19.0,2.0,1.0,2.0
9,1.0,0.0,0.0,0.0,1.0,2020.0,0.0,90000.0,3.0,30000.0,...,4.0,5.0,4.0,2.0,2.0,3.0,36.0,2.0,1.0,2.0
10,1.0,0.0,0.0,0.0,0.0,2020.0,1.0,500000.0,4.0,125000.0,...,5.0,4.0,5.0,2.0,1.0,2.0,26.0,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19399,1.0,0.0,1.0,0.0,0.0,2020.0,0.0,50000.0,3.0,16667.0,...,9.0,2.0,4.0,1.0,2.0,4.0,46.0,3.0,17.0,2.0
19405,0.0,0.0,0.0,1.0,0.0,2020.0,0.0,10000.0,1.0,10000.0,...,9.0,9.0,9.0,1.0,1.0,4.0,41.0,9.0,17.0,2.0
19406,1.0,0.0,0.0,0.0,0.0,2020.0,1.0,250000.0,12.0,20833.0,...,9.0,9.0,9.0,1.0,2.0,3.0,31.0,9.0,17.0,1.0
19408,1.0,0.0,1.0,0.0,0.0,2020.0,0.0,150000.0,7.0,21429.0,...,5.0,4.0,4.0,1.0,2.0,3.0,37.0,10.0,17.0,2.0
19411,1.0,0.0,0.0,0.0,0.0,2020.0,1.0,70000.0,1.0,70000.0,...,9.0,3.0,4.0,1.0,2.0,5.0,56.0,11.0,17.0,1.0

In [50]:
for i in target_col:
    print(df[i].value_counts())

1.0    9894
Name: A5_1, dtype: int64
2.0    6942
Name: A5_2, dtype: int64
3.0    820
Name: A5_3, dtype: int64
4.0    1059
Name: A5_4, dtype: int64
5.0    759
Name: A5_5, dtype: int64
6.0    7407
Name: A5_6, dtype: int64
7.0    310
Name: A5_7, dtype: int64
8.0    1023
Name: A5_8, dtype: int64
9.0    394
Name: A5_9, dtype: int64
10.0    9
Name: A5_10, dtype: int64
11.0    197
Name: A5_11, dtype: int64
12.0    156
Name: A5_12, dtype: int64
14.0    9
Name: A5_14, dtype: int64
15.0    763
Name: A5_15, dtype: int64
16.0    521
Name: A5_16, dtype: int64
17.0    328
Name: A5_17, dtype: int64

In [231]:
df[i].value_counts().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of 17.0    331
Name: A5_17, dtype: int64>

In [234]:
df['D_TRA1_SYEAR'].value_counts()

2020.0    12003
Name: D_TRA1_SYEAR, dtype: int64

In [236]:
count=0
for index in df.index:
        if df.loc[index, target_col].isnull().sum() >= 18:
            count+=1
count

0

In [ ]:
df.loc[0,'A5_3']

In [ ]:
df.loc[0, target_rawcol]